[2018-01-22 23:10] mattrowmsft opened #2 "Specifying more than one private container repository does not work"
We accept a list of image registry credentials to be used when download container images.  That list isn't used when searching for images.

[2018-02-06 16:36] ross-p-smith opened #5 "Seabreeze is only available in East US"
The CGS Resource Provider is only available in EAST US at the moment

[2018-02-12 17:17] jjcollinge opened #7 "Transient HTTPS Errors"
Not sure if this is just me, but when working with the `az sbz cgs` commands, I get the following HTTPS connection error maybe 10% of the time:
`Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url ...?api-version=2017-11-01-privatepreview`
Retrying the command usually works, on occasion I've had to reinstall the az exten

[2018-02-12 17:34] jjcollinge opened #8 "--instance-name semantics misleading"
It appears (I may be wrong) that CGS instance names are created based on the instance count i.e. `"instanceCount": 3` == 3 CGS instances, named 0 - 2.
I couldn't find a way to specify any alternative names so I believe this is the expected behaviour.

We must then provide the `--instance-name` to commands such as:
`az sbz cgs instance --resource-group <nameOfResourceGroup> --name <nameOfCGS> --ins

[2018-02-12 19:28] jjcollinge opened #9 "Execute a command against a container in a CGS"
It's often useful when troubleshooting or debugging containers to execute a command against a container. This is particularly useful for creating a shell inside a container to test inter-container connectivity or view the state of the filesystem.

This could be implemented as:
`az sbz cgs exec --resource-group <myResGroup> --name <myCGS> --instance-name <myInstance> --container-name <myContainerNa

[2018-02-13 17:11] ross-p-smith opened #10 "Nanoserver images never come back from "Updating" status"
If you try and deploy nanoserver/iis:latest it stays with a status of "Updating". I have successfully run a "microsoft/iis:windowsservercore-1709" image.

[2018-02-14 15:00] jjcollinge opened #11 "VolumeMounts not clearly documented"
One of the _'I can'_ statements for this preview stage is:
"I can specify a volume driver for my containers, so that my container state is not lost, when azure fails over my container to a new host."

However, the volume mount schema + options are not clearly documented in the _conceptual_ docs anywhere. I did find some references in the _reference_ docs after digging around i.e. [this example Swa

[2018-02-20 22:58] prasadker opened #12 "How to get into the container"
With running docker container, you can get into the container by issuing command -
     docker exec -it ....

How can we achieve same in case of Seabreeze containers?

[2018-02-21 00:46] #11 closed, assigned to abhishekram

[2018-02-21 09:49] jjcollinge opened #14 "Copy files from a container in a CGS"
Certain scenarios require you to copy files out of a running container. Such as using multi-stage build containers or extracting log files from multi process containers, etc.
This functionality is analogous to `docker cp` - this could be implemented using the `exec` command proposed in #9 with `cat` and redirecting the output to a local file but it would be better to have this as a built in comman

[2018-02-22 08:18] jjcollinge opened #15 "Condense show and instance commands"
**DISCLAIMER: this is subjective!**

Currently the CLI has both `instance` and `show`.

- `instance: Get the details of a container group instance.`
- `show: Get the details of a container group set.`

This seems like an unnecessary distinction as the action is the same, only the resource is different. From a users point of view, they just want to get the details of a resource (CGS, instance, etc.

[2018-02-22 14:47] jjcollinge opened #16 "Simplifying the CLI"
**This is not an issue per se, more opening a discussion.**

It is cumbersome to type `az sbz cgs` all the time, so I've setup an alias in my Powershell profile using:
`function do-cgs { az sbz cgs $args }; set-alias cgs do-cgs;`
and similar in my `.bashrc` for Linux.
I've also been using `az configure --defaults group=mycgsrg` to set defaults so I don't have to pass the resource group everytime.

[2018-02-22 16:45] jjcollinge opened #17 "Add watch/tail for streaming commands"
It'd be awesome to have a watch/tail flag on streaming commands like
`az sbz cgs logs -g mycgsrg -n mycgs --instance-name 0 --container-name mycontainer -w`
which sends batches of logs every `x` seconds.

[2018-02-22 19:16] #7 closed, assigned to mattrowmsft, linggengmsft

[2018-02-23 16:47] prasadker opened #18 "SSH into the container not working"
I created a linux container with ssh daemon - prasadker/ubuntussh (I understand ssh is not recommended for containers, but still allowed :) ), which I can login to when I run locally, however, when I try it on seabreeze, it is not working. Is there any way I can check if it is being blocked/sandboxed at host?
Is ssh allowed on seabreeze or will be allowed?

[2018-02-23 16:51] prasadker opened #19 "List of supported networking mode"
As I understand Service fabric supports Open networking and flat networking modes for containers deployed on cluster. Do we have the list of networking modes that are supported or will be supported by seabreeze?

[2018-02-23 16:55] prasadker opened #20 "Mix of Linux and Windows containers"
In a container group, can we have mix of Linux and Windows containers? In the cgs-quickstart.json file I can see we are specifying "osType": "Linux" at the container group level, so I assume not, but just want to confirm. Is this planned for, may be, in future?

[2018-02-23 17:00] prasadker opened #21 "How to specify container registry"
How can I specify different container registry (apart from dockerhub) to pull images from. Is it using the image tag? Is yes, how to specify the credentials then?

[2018-02-23 19:50] #21 closed, assigned to nobody

[2018-02-23 20:53] markharrison opened #22 "The resource type could not be found"
Following the Quickstart ... and got to this command

az sbz cgs create --location eastus --resource-group SB-rg --name cgsMark --template-uri https://seabreezequickstart.blob.core.windows.net/quickstart/cgs-quickstart.json

get the following error:

The resource type could not be found in the namespace 'Microsoft.ServiceFabric' for api version '2017-11-01-privatepreview'.

Im using CLI version 2.

[2018-02-24 00:12] #22 closed, assigned to nobody

[2018-02-24 17:07] jjcollinge opened #23 "Support for labels"
Do we intend to use labels to help create 'logical' groupings of CGS instances or CGSs?
I see `tags` in the model but unsure if this is related. If it is, I would ask why we need to use a different name  for an already established concept (Docker, K8, DCOS, etc.)? An important distinction to note on Kubernetes labels is that unlike `annotations` that are simply extensible metadata, `labels` are in

[2018-02-26 03:25] VaanPan opened #24 ""az sbz cgs instance" error message is confusing on non-exist instance"
if I run "az sbz cgs instance --resource-group vantestseabreeze --name vantestseabreezecgs --instance-name 2" on a CGS which doesn't have this instance, the output error message is very confusing.

Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/1bb2b862-f8fc-4d52-8a1d-a5909d5a0795/resourceGroups/vant

[2018-02-27 09:59] jjcollinge opened #25 "Allow Azure parameters to be defined in template file"
I'm not sure how feasible this is, but I can imagine in the future, configs being generated dynamically using templating languages etc. To make this simple - it'd be useful to _be able_ (optional) to define all the config in the template file - including the Azure specific bits i.e.
[code]
This could then be deployed x-platform using:
`az sbz cgs create --template-file .\generatedConfig.json`
You'

[2018-02-27 10:34] askew opened #26 "ContainerGroupSets List operation leaks secrets"
Using the `az sbz cgs show` command lists the password from `imageRegistryCredentials` and the storage account key from `volumes/azureFile` in plain text.

These should at minimum be kept securely and not returned by a query operation.

A nice addition would be to reference KeyVault for secrets. Is this planned?

[2018-03-02 18:41] jjcollinge opened #27 ".NET Framework deployment Failed"
I tried deploying full fat .NET framework using the following configuration:

[code]
This resulted in: ` "provisioningState": "Failed"` - no additional error details available.
I tried 1709 and ltsc2016 just to check it wasn't a compatibility issue.
The image is several GB, is this a potential timeout issue whilst pulling the image or potentially the resources are too constrained?

I ran the image

[2018-03-04 20:51] jjcollinge opened #28 "Docker in Docker fails"
Docker now releases Docker in Docker (dind) images on their official docker hub repository: https://hub.docker.com/_/docker/.

I tried to deploy the `docker:dind` image in a CGS and it failed (as expected). This does require a privileged container that can speak to the local Docker daemon. Other requirements are here: https://github.com/moby/moby/wiki/Docker-in-Docker. Jessie Frazelle wrote a Dock

[2018-03-05 20:11] jjcollinge opened #29 "Egress IP is different per CGS instance"
CGS share an ingress IP - I ran some tests to see what my egress (outbound) IP was and it was different for each CGS instance.

 `az sbz cgs logs -g dotjson-cgs -n dotjson-egress --instance-name 1 --container-name curl`
{"ip":"13.90.195.163"}

`az sbz cgs logs -g dotjson-cgs -n dotjson-egress --instance-name 0 --container-name curl`
{"ip":"13.90.195.67"}

Is there a way we can specify a consistent

[2018-03-27 17:50] GitTorre opened #31 "Broken link to quickstart guide in seabreeze-overview.md"
The link in https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/seabreeze-overview.md that points to https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-quickstart.md is broken (404).

[2018-03-27 22:22] GitTorre opened #32 "Wrong command parameter in Quickstart"
In this section:
https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md#go-to-the-application

This command is wrong (the second one, to get the IP of the endpoint...):
az sbz network show --resource-group <resourceGroupName> --network-name SbzVotingNetwork

It should be:
az sbz network show --resource-group <resourceGroupName> --name Sb

[2018-03-28 00:01] prasadker opened #33 "CLI error - ImportError: cannot import name 'sdk_no_wait'"
If you are using older CLI version than 2.0.30, you might face the error -

cannot import name 'sdk_no_wait'
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\knack\cli.py", line 193, in invoke cmd_result = self.invocation.execute(args)
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\azure\cli\core\commands\__in

[2018-03-28 02:15] BigMorty opened #34 "In QuickStart, the "Check application deployment status" step should mention name of app"
Similar to how you mention the following in the "Go to application" step in the QuickStart...
"The network resource for our quickstart application is SbzVotingNetwork, so let us fetch its details."
...
You should mention...
"The application name for our quickstart application is SbzVoting, so let us fetch its details." in the "Check application deployment status" step.

[2018-03-28 05:12] #31 closed, assigned to nobody

[2018-03-28 05:14] #32 closed, assigned to nobody

[2018-03-28 16:12] oanapl opened #35 "CLI: Add description for all sbz app subgroups"
Some subgroups, like container, service, servicereplica have no description.

[code]

[2018-03-28 20:55] oanapl opened #36 "'az sbz app list --help' prints warning with NativeCommandError"
[code]

[2018-03-28 21:00] oanapl opened #37 "List apps for invalid resource group should return a more descriptive error than "Operation returned an invalid status code 'Not Found'""
Running app list for a resource group that doesn't exist returns a Not Found, as expected, but the message should be clearer to describe that the resource group is not found as opposed to no apps under the resource group.

[code]

[2018-03-28 21:08] oanapl opened #38 "az sbz app create fails with "invalid start byte""
https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md has instruction to create app:

az sbz app create --resource-group <resourceGroupName> --template-uri https://seabreezequickstart.blob.core.windows.net/quickstart/application-quickstart.json

Running that gives the following error:

[code]

It may be due to weird characters in the js

[2018-03-28 23:05] #38 closed, assigned to nobody

[2018-03-28 23:45] #33 closed, assigned to nobody

[2018-03-29 17:59] #34 closed, assigned to nobody

[2018-03-29 18:05] #35 closed, assigned to linggengmsft

[2018-03-29 18:11] mani-ramaswamy opened #39 "CLI command outputs must be formatted"
The output of many CLI commands isn't easily readable. Having a table output format would be useful.

[2018-03-29 18:12] mani-ramaswamy opened #40 "Add upgrade support to applications"

[2018-03-29 18:14] mani-ramaswamy opened #41 "Scaling out shouldn't delete existing container instances"

[2018-04-01 22:26] dave-read opened #43 "quickstart documentation notes container rather than code-package as sub command for getting logs"
In preview 2, [application-deployment-quickstart.md](../blob/master/docs/conceptual-docs/application-deployment-quickstart.md) notes to use the ```az sbz container logs``` sub command, but I only see this work when the sub command is ```az sbz codepackage logs```

[code]
az --version shows
[code]

[2018-04-02 17:59] msfussell opened #44 "Samples do not include the actual code for the Voting application"
The samples do not include the actual code, only the quickstart json file https://github.com/Azure/seabreeze-preview-pr/tree/master/samples . Include the code to build the containers and the code project with the .NET core code.

[2018-04-02 18:00] msfussell opened #45 "List the supported Windows Server images."
Have a list of the supported base images that can be used for Windows. Can you use Windows Server 2016 and Windows Server 2016 1709 images for Windows base images? Any restrictions?

[2018-04-03 20:41] #24 closed, assigned to mattrowmsft

[2018-04-05 02:38] #44 closed, assigned to nobody

[2018-04-05 04:32] #26 closed, assigned to mattrowmsft

[2018-04-05 04:34] #10 closed, assigned to mattrowmsft, anmolah

[2018-04-05 17:34] sridmad opened #51 "sbz create does not complete deploying an app without first populating the registry with the container image"
The command was running for at least 15 minutes before I stopped it and deleted the resource group.

[2018-04-06 05:30] cvs79 opened #52 "SeaBreeze CLI Setup not working"
When following the SeaBreeze CLI Setup it fails. Running Azure CLI 2.0.30 in WSL fails when installing the Seabreeze extensions

az extension add --source https://seabreezepreview.blob.core.windows.net/cli/azure_cli_sbz-0.4.0-py2.py3-none-any.whl

Error:
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_

[2018-04-06 06:40] #43 closed, assigned to nobody

[2018-04-06 06:52] vipul-modi opened #53 "Name of the Replica in the schema should be "name" and not ReplicaName"
All resources have name property whereas replica resource have "ReplicaName" property. The naming should be uniform.

[2018-04-06 06:53] vipul-modi opened #54 "Replica should not return service description"
Replica list should simply return the information about the replica resource and should not repeat the service description.

[2018-04-06 06:54] VipulM-MSFT opened #55 "SeaBreeze allows deleting network resource that is referenced actively in application resource"
Network resource that is referenced in the application resource is allowed to be deleted. Recreating the network does not fix the issue, one has to delete the application start over again.

[2018-04-06 23:01] jsturtevant opened #56 "Quick Start Readme.md doesn't have correct template uri"
The quick Start templates under https://github.com/Azure/seabreeze-preview-pr/blob/master/samples/
doesn't have the correct template uri.  Get 404 when running `az deployment create`:

[code]

Docs that are affected:

- [ ] https://github.com/Azure/seabreeze-preview-pr/blob/0cda7887ec33a409d9b84ba64c8184a7d59b5d35/docs/conceptual-docs/application-deployment-quickstart.md
- [ ] https://github.com/A

[2018-04-06 23:15] jsturtevant opened #57 "Voting app deployed in Quick start has error when adding to list"
Followed [Quick Start](https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md) to deploy voting app:

[code]

Went to site and got error:

![image](https://user-images.githubusercontent.com/648372/38447919-752e2446-39b5-11e8-8eb3-136484da3a37.png)

Ran logs on the code package:

[code]

[2018-04-09 18:31] jevdemon opened #59 "Quickstart template appears to have the wrong api version"
Following [directions for the quickstart](https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md).
az sbz deployment create --resource-group evdemon-seabreeze-rg --template-uri https://seabreezequickstart.blob.core.windows.net/templates/quickstart/sbz_rp.linux.json
Deployment failed. Correlation ID: 1a64ae47-eec2-414c-aae0-7e23c272cb40.

[2018-04-10 12:40] jjindrich opened #61 "CLI setup"
I cannot install CLI extension on Azure Cloud Shell console. Trying to run: az extension add --source https://seabreezepreview.blob.core.windows.net/cli/azure_cli_sbz-0.4.0-py2.py3-none-any.whl

Getting this error:
Linux distro check: Mismatch distribution name in /etc/apt/sources.list.d/azure-cli.list file
Linux distro check: If command fails, install the appropriate package for your distribution

[2018-04-10 20:08] vyta opened #64 "Unable to provision resources -- requests are timing out"
[code]
Long running operation eventually times out.  Had one running for > 1 hour before failing with Request Timeout (Correlation ID: eee22a7a-25e3-46b7-b01e-4aa68fc22a64)

[2018-04-10 22:01] #51 closed, assigned to nobody

[2018-04-10 22:01] #53 closed, assigned to nobody

[2018-04-10 22:04] dkkapur opened #65 "Lack of visibility on deployments"
When deploying a new application today, there is no feedback in CLI to let you know whether or not resources are being provisioned correctly or if the app is coming up as expected. We should have some feedback for users to be able to track if things are coming up correctly.

[2018-04-11 03:57] KaiWalter opened #66 "How to connect to an ExpressRoute Virtual Network"
How or when will I be able to spin up a cluster and have it connected with an existing VNET which is connected to ExpressRoute, w/o a public IP, so that address application only from my corporate network?

[2018-04-11 17:16] CESARDELATORRE opened #67 "Is it possible to communicate services/containers deployed in different JSON files and different Service Fabric Applications sharing the same Seabreeze network?"
I have a simple scenario but not able to deploy the assets/containers independently while communicating between them:

Assets to deploy:
- 1 Windows Container with a traditional ASP.NET MVC web app (full .NET Framework)
- 1 Windows Container with SQL Server (Good for Dev/Test scenarios, to be moved to Azure SQL DB for production)

**Scenario 1: (Works OK)**
When I deploy the two Windows Containers

[2018-04-11 17:22] #61 closed, assigned to linggengmsft

[2018-04-11 17:38] CESARDELATORRE opened #68 "Why public port (1433 or mapped port) for SQL Server Windows Container is not accesible from outside SeaBreeze mesh (remote PC with SQL Server Management Studio or similar)?"
We're deploying a SQL Server Windows Container and tested that it is working by accessing it from a web app within the same Service Fabric Application.

Here's the JSON deployment file:
[https://raw.githubusercontent.com/dotnet-architecture/eShopModernizing/master/ServiceFabric-mesh/eShopModernized-MVC-SQL-Network.json](https://raw.githubusercontent.com/dotnet-architecture/eShopModernizing/master/

[2018-04-11 17:45] #12 closed, assigned to leikong

[2018-04-11 19:29] tbertenshaw opened #69 "Quick start `az sbz codepackage logs` command fails"
manged to follow all items in the quickstart however the log  step
[code]

output fails with
`az sbz codepackage logs: error: the following arguments are required: --name/-n`

if i replace `--code-package-name` with `--name` it succeeds, assume this argument has changed name then?

[2018-04-11 19:31] #59 closed, assigned to mattrowmsft

[2018-04-11 21:01] #69 closed, assigned to nobody

[2018-04-12 13:15] kevingbb opened #70 "Lack of Clarity in Application Create/Update Rest API"
We were using the Application Create Rest API (https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/reference-docs/rest-api/seabreeze-api-application_create.md) to be able to dynamically update an Application's service resources. Whether that be more CPU or Memory, or more Replicas.

In the docs it is not clear exactly what needs to go in the payload. Based on trial and error we need to

[2018-04-13 01:31] CESARDELATORRE opened #71 "CLI command 'az sbz deployment create' should work asynchronously"
The SeaBreeze CLI command  `az sbz deployment create` should work asynchronously.

Certain scenarios, like when deploying a Windows Container (usually large images that need to be pulled down from a Docker Registry), take a long time when running .
It doesn't make sense to have the PowerShell/CMD window blocked until the operation is performed.

Other CLIs in Azure (like Azure Container Instances)

[2018-04-13 03:25] monubamb opened #72 "Error Deploying spz_rp.linux template - voting app"
Here is the error details. It took about 50 mins before erroing out.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"RequestTimeout","message":"{\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \"message\": \"The reso

[2018-04-13 18:04] vyta opened #73 "App and Network deployment successful but unable to get info on services + need more ways to troubleshoot"
Trying out a windows (nano 1709) deployment with multiple ports exposed on the service. Deployment of app and network were successful and app is in 'Ready' state but am unable to reach service and unable to retrieve service or service replicas from cli:

[code]
Also, ```codepackage logs``` returns empty.

I removed and re-added extension and made sure I had an up-to-date version before deploying m

[2018-04-14 06:59] tbertenshaw opened #74 "Reliable collections and Actors"
Looking through the repo I'm struggling to understand if seabreeze supports reliable collections and or actors. Or if these are not in this iteration or planned?

[2018-04-17 18:08] benc-uk opened #75 "Ports other than 80"
I can't get any port to work other than 80
- Is this a limitation of the preview?
- Will Seabreeze allow us to expose other ports?
- How do we map ports from what the container exposes (endpoint in Seabreeze speak I think) to the network with the public IP? e.g. port 3000 on container becomes port 80 externally. I've tried putting different ports on each but it doesn't work

[2018-04-17 18:12] benc-uk opened #76 "Usability - Command to access logs is incredibly long"
Coming from Kubernetes where I can run
[code]

In Seabreeze I have to run
[code]
This is is painfully long command for such a simple and common task!

I'd like usability and the developer experience to be considered here, they have done an amazing job with `kubectl` it's flexible & powerful but also fairly terse and logical

[2018-04-17 18:53] benc-uk opened #77 "Multiple exposed services - trying to deploy an SPA"
How would I expose multiple services from the same app together?
I have an SPA which consists of two components, one serving the SPA content, the other acting as a REST API. I've deployed these as a single sbz **application** which contains them both as **services**
As this is a SPA both **services** need to have publicly accessible **endpoints**
(using bold here to denote sbz terminology)

In my

[2018-04-17 23:01] CESARDELATORRE opened #78 "Will SeaBreeze cache the Docker images instead of pulling from a Docker Registry every time you deploy a container?"
Just wondering. I wanted to know if future previews of SeaBreeze (or GA) will cache the Docker images.

In any case, the user experience today (Private Preview) is that every time you are deploying a container, SeaBreeze is under the covers pulling the Docker image from the Docker Registry (i.e. Docker Hub), always.

I know, since this is PaaS and nodes/VMs can be shared across multiple customers,

[2018-04-17 23:32] CESARDELATORRE opened #79 "Any way to scale a service's replicas with the CLI after the service's first deployment?"
I guess this is coming in future versions of SeaBreeze CLI, as I cannot find it in the current CLI documentation.

In any case, is there anyway to scale a service's replicas with the CLI after the service's first deployment?

Something like the following (today seems like it doesn't exist in the current CLI we're using):

`az sbz service scale --replica-count 5 --name my-service-name --app-name My

[2018-04-17 23:58] #78 closed, assigned to nobody

[2018-04-18 17:55] #66 closed, assigned to sdkadam2017

[2018-04-19 15:46] #74 closed, assigned to nobody

[2018-04-20 10:05] skwasiborski opened #80 "Reliable Actors support"
Are you planning to support model similar to Reliable Actors from non-managed Service Fabric? If so how compatible these would be e.g. would it be possible to deploy same Actor to SeaBreeze and to traditional SF cluster (possibly run on premise).

Given you support Actors would you consider implementing something like GEO that is implemented in Orleans (https://docs.microsoft.com/en-us/azure/servi

[2018-04-20 11:21] benc-uk opened #81 "Windows Containers - communication between codepackages"
Using Linux containers I have successfully deployed two codepackages in the same service and connected between them using localhost. In my app case this was to a MongoDB via connection string `mongodb://localhost`

When I switch to Windows containers, I can not connect to the MongoDB codepackage using localhost, it never works. I check the logs and I never see the connect come into Mongo. I know t

[2018-04-20 11:28] #80 closed, assigned to nobody

[2018-04-20 16:10] mjrousos opened #82 "CLI cannot create deployments with local templates"
When using `az sbz deployment create`, the CLI insists that the template URI be non-local. I tried using a file://-style URI, but got this error message:

[code]

Is there a reason for that restriction? It seems like using a local file (bonus points if I can use a relative path) would be useful for CI/CD scenarios. I'd like my CD pipeline to be able to deploy a SeaBreeze app with a local template

[2018-04-20 17:55] mjrousos opened #83 "Unfinished sentence in docs"
The [Application section of AppModel overview doc](https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/appmodel-overview.md#application) concludes with this sentence which seems to end abruptly:

[code]

Really leaves me hanging. I want to know what having more services in an application does that causes users to typically want to keep the number fairly small!

[2018-04-23 00:28] arthurgreef opened #84 "Cannot deploy quick start app locally"
Hi - is there a link to a SF SDK that I should install so that I can deploy a Seabreeze app to my local cluster? Thanks.

[2018-04-23 15:05] #82 closed, assigned to nobody

[2018-04-23 20:10] ahelland opened #85 "Service principals for accessing private container registry (ACR)"
I'm trying to setup a web app based on an image stored in Azure Container Registry by following the scenario for a private registry (https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/appmodel-scenarios-private-registry.md).

It says "The production scenarios should use a service principal for container registry access, but to keep this quickstart brief, enable the admi

[2018-04-26 15:35] arthurgreef opened #86 "Deploying seabreeze application with ARM parameter file"
Hi - how do I deploy a seabreeze app using an ARM parameter file? I tried using a --parameter(s)-file parameter but that did not work. -h does not provide help on parameters.

az sbz deployment create --resource-group "container-service-eus-235-dev" --template-file "src/seabreeze/containerserviceapp.template.json" --parameter-file "src/seabreeze/containerserviceapp.parameters.json" --verbose

[2018-04-28 03:51] mjrousos opened #87 "Poor diagnostics on deployment failure/insufficient capacity"
It would be useful to have more information about why deployments fail. At the moment, it's often unclear.

As an example, I am currently seeing the following error when trying to deploy the [sample app](https://github.com/Azure/seabreeze-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md) template:

[code]

Even with --verbose mode on, the error doesn't tell me anyth

[2018-05-02 16:08] dngoins opened #89 ""Bad handshake" Self Signed Certs"
When I try to use the SeaBreeze preview in a Azure CLI on a VDI behind a firewall I have to go through quite a lot just to get a session working. The CloudShell works fine, but using regular powershell outside the browser required the following for me.

When working behind a firewall using the company's firewall I'm presented with bad handshake ssl connection errors. I followed the advice [here:](

[2018-05-02 16:33] aljo-microsoft opened #90 "AZ CLI Extension Install Failure: azure_cli_sbz-0.4.0-py2.py3-none-any.whl"
az extension add --source https://seabreezepreview.blob.core.windows.net/cli/azure_cli_sbz-0.4.0-py2.py3-none-any.whl --debug
Command arguments: ['extension', 'add', '--source', 'https://seabreezepreview.blob.core.windows.net/cli/azure_cli_sbz-0.4.0-py2.py3-none-any.whl', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0

[2018-05-03 00:42] arthurgreef opened #91 "Image name with tag latest is not allowed"
Is there a reason why the 'latest' tag is not allowed with images?

"details": [],
2018-05-02T23:51:08.0014038Z "Failed to set up application."
2018-05-02T23:51:08.0014335Z
2018-05-02T23:51:08.0015210Z     "innerError": "System.Fabric.Wrp.Common.WrpException: Image name with tag latest is not allowed.\r\n   at Microsoft.SeaBreeze.ApplicationManager.Operation.PutApplicationOperation`1.Validate() in

[2018-05-03 04:51] #72 closed, assigned to nobody

[2018-05-03 17:02] #71 closed, assigned to linggengmsft

[2018-05-03 18:29] #90 closed, assigned to Christina-Kang, linggengmsft

[2018-05-04 14:49] arthurgreef opened #92 "Can we use the Azure Profiler with Seabreeze?"
The Azure Profiler is pretty useful. Can we use it to profile apps deployed to Seabreeze?

[2018-05-04 19:20] mjrousos opened #93 "Cannot deploy mixed OS/Linux containers"
I'm deploying a simple two-service application to SeaBreeze. Everything works if I deploy the two services as Linux containers and everything works if I deploy the two services as Windows Nano Server containers. But deploying the same app with one Linux container and one Windows container fails. Is this expected to work? The actual behavior is that the deployment runs for about twenty minutes and

[2018-05-08 05:19] zhangdingsong opened #96 "Queries about "Mesh""
SeaBreaze is now called SF Mesh and from README.MD I can see "Service Mesh for communication" is a feature that we can expect to evaluate and provide feedback on.

Is there any document talking about how we implement Service Mesh pattern in SF Mesh?
Are we using an existing platform like Istio or Linkerd?
Or do we have our own sidecar implementation?
As we named it as Mesh, just want to know how w

[2018-05-09 20:22] tomkerkhove opened #97 "az sbz is now az mesh"
`az sbz` is now `az mesh`

When running `az sbz` I got this:
![image](https://user-images.githubusercontent.com/4345663/39837634-a833ebe0-539c-11e8-847e-7f0418341a75.png)

After running `az` I noticed that it was renamed:
![image](https://user-images.githubusercontent.com/4345663/39837664-bdf20188-539c-11e8-9ffb-1a1a783468ee.png)
I'm willing to update the samples, my only question is - In what bra

[2018-05-09 20:36] tomkerkhove opened #98 "Plans for auto-scaling"
In `docs/conceptual-docs/appmodel-overview` it was mentioned that auto-scaling is still to be added.

Can you elaborate on the plans for this please? How do you see this?

Things that come to my mind:
- **Custom metrics source(s)**: Will it have integration with Azure Monitor and Application Insights out-of-the-box?
- **Conceptually**: Will it be similar to the [Horizontal Pod Autoscaler (HPA)](ht

[2018-05-09 20:38] tomkerkhove opened #99 "Plans for Traffic routing rules"
In `docs/conceptual-docs/appmodel-overview` it was mentioned that traffic routing rules are still to be added.

Can you elaborate on the plans for this please? How do you see this?

Things that come to my mind:
- Integration with Azure Traffic Manager?
- Integration with Azure API Management?

[2018-05-09 20:39] tomkerkhove opened #100 "Plans for secrets"
In `docs/conceptual-docs/appmodel-overview` it was mentioned that secrets are still to be added.

Can you elaborate on the plans for this please? How do you see this?

Things that come to my mind:
- Integration with Azure Key Vault?

[2018-05-09 20:44] tomkerkhove opened #101 "Support for YAML"
After using Kubernetes for a while I have to say that I find YAML declarations a lot nicer than JSON.

Are you planning on supporting this?

[2018-05-10 20:21] allanFunrock opened #102 "Migration path for reliable services / actors"
The new stuff looks really great!

However we're very heavily invested in the "old" programming models, actors in particular and reliable services (with remoting) as well. I understand there would be some modification needed, but what would the migration path be? I think a large majority of existing SF apps will be in a similar situation since the Actor/reliable service models have been pushed so

[2018-05-10 20:26] allanFunrock opened #103 "Reliable collection packages"
From the talks at build it seems that reliable collections are / will be available very soon, however the readmes seem outdated with regards to this and I've not been able to find them anywhere. #80 and #74 from 20 days say reliable collections are not supported "in this iteration" but it's unclear what exactly that means.

So, any update on this? we'd really like to try out the new resource model

[2018-05-13 14:40] alecor191 opened #104 "Troubleshooting failed deployment"
I'm deploying an app consisting of two very simple ASP.NET Core services. If I deploy the same app with only one service, it works fine. However, when I deploy both, I get the following error from `az sbz deployment create`:

[code]

I looked at the activity log of the resource group, but unfortunately information there about the failed ARM deployment doesn't really help me either as it contains m

[2018-05-14 07:37] tomkerkhove opened #105 "Support for Kubernetes declarations"
This is a request for long-term and a long shot but if you could support k8s declarations, that are translated to Mesh native format behind the scenes, you could get a lot of customers from that ecosystem as well with the managed offering.

That said, this is most probably a very hard thing to achieve and I'm aware of this. One can only ask :)

[2018-05-16 05:16] #97 closed, assigned to nobody

[2018-05-17 21:32] odaibert opened #108 "change az sbz app create to az deployment create on quick start guide."
When I execute "az sbz **app create**" as show below, I get this error:

odaibert@odaibert:~$ az sbz app create --resource-group SFMeshPreview2 --template-uri https://seabreezequickstart.blob.core.windows.net/templates/helloworld/sbz_rp.linux.json
az sbz app: error: argument _subcommand: invalid choice: create
usage: az sbz app [-h] {list,delete,show} ...

Should fix this [](https://github.com/Azu

[2018-05-19 15:34] loekd opened #109 "ARM template deployment from VSTS fails"
When I try to deploy using an ARM template and VSTS, I get an error.

[code]
Reproduce:
- Create a clean resource group in eastus
- Create managed service endpoint in VSTS
- In a Release, use the "Azure Resource Group Deployment" task to deploy an [arm template]  (https://github.com/loekd/Containers.Everywhere/blob/master/deploy-asfmesh-arm.json) that works fine when used with the CLI

[2018-05-24 07:06] #109 closed, assigned to mattrowmsft

[2018-05-25 06:32] loekd opened #110 "ARM deployment - Error message for invalid container registry password"
**Problem:**

When I deploy an [ARM template ](https://github.com/loekd/Containers.Everywhere/blob/master/deploy-asfmesh-arm.json) with an invalid private container registry password, I receive this error:

[code]

**Expected:**

The error message for this situation should be clearer.

**Repro steps:**

- deploy an ARM template with an invalid container registry password.

[2018-05-30 14:11] tomkerkhove opened #111 "Mesh Application in stale status"
# Information
- **Subscription Id:** 0f9d7fea-99e8-4768-8672-06a28514f77e
- **Resource Group:** service-fabric-mesh
- **Application:** SbzVoting

# Description
I have a Mesh application in my subscription:
![screenshot_1](https://user-images.githubusercontent.com/4345663/40725460-c9f882da-6423-11e8-8681-6ea8677a6ecc.png)

However, when I try to delete it it says that it was not found:
![screenshot

[2018-05-30 14:12] tomkerkhove opened #112 "Azure DevOps Pipeline Support"
This is pretty early but are you working with the VSTS team to provide out-of-the-box support for deployments from within VSTS Release Management?

[2018-05-30 19:23] tomkerkhove opened #113 "Image tag "latest" is not supported"
Image tag "latest" is not supported, is there a particular reason for this?
![image](https://user-images.githubusercontent.com/4345663/40742654-793eb6d0-644f-11e8-8dfb-0d5a959c07ae.png)

Shouldn't the platform be flexible enough and allow me to do this? Not saying that I'm always using this but sometimes I cannot control the tagging by a 3rd party when using sidecars for example.

[2018-05-31 21:27] suhuruli opened #114 "az mesh network delete command always succeeds"
The following commands work without any message whatsoever for "az mesh network delete", despite not having any resources of that name:

az mesh network delete -y -g suhuruliMeshTesting -n foobar
az mesh network delete -y -g suhuruliMeshTesting -n clear
az mesh network delete -y -g suhuruliMeshTesting -n test1

Regardless, of the parameters the resultant output is the same (which is just nothing).

[2018-06-01 13:30] tomkerkhove opened #115 "az mesh service-replica list fails with 'ClientRequestError' object has no attribute 'response'"
I'm currently trying to deploy [this template](https://containo.blob.core.windows.net/mesh-deployment/template.json) which looks healthy but when I run `az mesh service-replica list` it fails.

## Full command
`az mesh service-replica list -g containo-apps --app-name containo.orders --service-name Containo.Orders.API`

## Error
[code]

[2018-06-02 08:06] tomkerkhove opened #117 "Application stuck in updating"
_This is probably a stupid question but here we go._

Deployed an app that is stuck in updating and marked as warning.
![image](https://user-images.githubusercontent.com/4345663/40872311-6a985880-664c-11e8-895d-35698055abd9.png)

I suspect that there is something going on with my code package and stuck in reboot loop.
However, I cannot get the details for it because I need the replica name which i

[2018-06-04 17:04] tomkerkhove opened #118 "az mesh service --name is case sensitive"
`az mesh service  --name` is case sensitive while others like app are not. Is this intentionally?

[2018-06-04 21:26] tomkerkhove opened #119 "Timeline for public preview"
Is there a timeline for public preview already? For example one month, 3 months, etc

[2018-06-05 06:21] #117 closed, assigned to nobody

[2018-06-05 10:04] #119 closed, assigned to nobody

[2018-06-07 07:45] #108 closed, assigned to nobody

[2018-06-07 10:12] zhangdingsong opened #123 "You may need to renew the url"
You may need to change the url to "https://github.com/Azure/service-fabric-mesh-preview-pr"

`<a href="https://github.com/Azure/seabreeze-preview-pr">https://github.com/Azure/seabreeze-preview-pr</a>`

Path:
`service-fabric-mesh-preview-pr/samples/src/votingapp/windows/VotingApp/VotingWeb/Views/Home/Index.cshtml`

[2018-06-07 10:33] zhangdingsong opened #124 "command deprecated: az mesh codepackage logs"
command to check application logs under "[See the application logs](https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md#see-the-application-logs)" is deprecated.
`az mesh codepackage logs --resource-group <myResourceGroup> --application-name SbzVoting --service-name VotingWeb --replica-name 0 --name VotingWeb.Code`

tried to

[2018-06-07 10:36] zhangdingsong opened #125 "failed to get help info "az mesh code-package-log --h""
AT

`PS C:\Users\zhangdingsong> az mesh code-package-log --h`
[code]

[2018-06-07 17:00] ghost opened #127 "Support for existing Service Fabric packages"
Similar to the question about [Kubernetes declarations](https://github.com/Azure/service-fabric-mesh-preview-pr/issues/105#issuecomment-395488908), any thought given to supporting the Service Fabric cluster deployment model on Mesh, translating to Mesh native format behind the scenes? E.g. automatically containerize existing stateful and stateless applications; running existing containerized servi

[2018-06-07 17:49] #123 closed, assigned to nobody

[2018-06-08 07:03] tomkerkhove opened #129 "Support linux containers in Visual Studio Tooling"
Provide support for linux containers in the Visual Studio tooling

[2018-06-08 08:02] mholo65 opened #131 "SF SDK throws FormatException when building example."
I've been following guides [here](https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/tutorial-create-dotnetcore.md), but when I create the project it fails at building and deployng the Docker image.

Output from `Service Fabric Tools`:
[code]

[2018-06-08 09:10] bjorkstromm opened #132 "No feedback for error when creating container registry via Visual Studio"
I'm following steps [here](https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/tutorial-create-dotnetcore.md#publish-to-azure) and when creating the Container Registry using Visual Studio, the "Create" button turns deactivated for some time, and then back to "activated". No indication whether the operation was successful or not.
![image](https://user-images.git

[2018-06-09 11:43] mkosieradzki opened #133 "Timeout when publishing Windows 10, version 1803 image"
[code]

Trying to deploy Hello World mesh application using ACR in North Europe and I am getting timeouts (after 2.5 hours)

[2018-06-10 14:08] MedAnd opened #134 "Cloud Native Application Bundles (CNAB) support"
Reading the documentation and faq for mesh and cannot seem to find examples of how I would run existing docker compose images.

As the 6.3 preview cluster is a regular Service Fabric cluster, wondering what is the longer term plan for manifest based applications & support for docker compose etc? If I wanted to deploy docker Linux images from hub.docker.com, is this supported (documented)?

Thx.

[2018-06-12 07:39] jmeijrink opened #137 "No detailed error information during deployment failure"
Hi,

I'm trying to deploy a service fabric mesh app and receive an error I cannot pin-point to a cause. The error message is as follows: The resource operation completed with terminal provisioning state 'Failed'.
There are no error details available.

Deployment failed. Correlation ID: d69b8993-d46f-4b28-8c9a-5457cce60256.
{
"status": "Failed",
"error": {
"code": "ResourceDeploymentFailure",
"mess

[2018-06-13 06:29] tomkerkhove opened #138 "Deployment of Linux containers never complete in Azure Cloud Shell/ARM deployment"
## Description
When deploying the template below it keeps on deploying it without ever finishing while the application was already reachable and fully functional.

Tried this again and it looks like it now finished but returns the following instead while it is up & running:

## Command
    az mesh deployment create --resource-group containo-apps --template-uri https://containo.blob.core.windows.ne

[2018-06-13 20:21] bjorkstromm opened #140 "Publish button stays inactive after successful container registry creation"
![image](https://user-images.githubusercontent.com/7863439/41375798-cc2404de-6f5f-11e8-8b09-b84260ed73d6.png)

After working around #132 I managed to create the container registry, but now it seems like *Publish* button stays inactive after container registry is successfully created and returning to the main publish window. It becomes active once I click anywhere on the window, giving it focus. So

[2018-06-14 03:07] mikkelhegn opened #141 "Az Mesh Network List -o Table should output resource-group name"
The az mesh network list -o table command is good to get an overview of the networks deployed, however it would be great if the command would output the resource group as it makes it easier to identify the different networks.

[2018-06-14 18:54] drub0y opened #142 "Visual Studio debugging experience seems "hostile" to the dockerfile experience"
I'm finding the F5 experience for debugging SF Mesh applications to be rather "hostile" to the typical `dockerfile` experience.

When I define my `dockerfile`, that's what I expect my image to end up being. However, the debugging experience seems to be taking the approach of only using the first stage of my multi-stage build and then everything after that is lost. I understand what it's doing with

[2018-06-15 22:35] #125 closed, assigned to linggengmsft

[2018-06-15 22:36] #124 closed, assigned to linggengmsft

[2018-06-19 07:54] tbertenshaw opened #143 "Visual studio tooling incompatability?"
After following the steps below on a Windows 2016 server.

https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/setup-developer-environment-sdk.md

I created a Dotnet core app as per
https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/tutorial-create-dotnetcore.md

I notice when i build, in the Service Fabric Tools Output win

[2018-06-19 15:45] mikkelhegn opened #144 "Application Insight data from Windows containers does not show up"
If you run a Windows container in Mesh, which was built on a host with a time zone more than 1 hour behind UTC, you risk running in to a scenario where the time in the container is off. This will impact Application Insights data, as it will be rejected by the service. Live metrics to Application Insights is not impacted by this scenario.

To work around this issue, make sure the host building the

[2018-06-20 06:24] tomkerkhove opened #146 "addressPrefix & ingressConfig.qosLevel for networks"
When creating a network you have the option to specify the following:
- `addressPrefix`
- `ingressConfig.qosLevel`

Would it be possible to provide some more documentation on those?

What I think they are:
- qosLevel is referring to VM size or something related so I'm wondering why I should care from a Mesh perspective?
- addressPrefix is used for subnetting but should I care about that with Mesh?

[2018-06-20 06:32] tomkerkhove opened #147 "Capability to ship a full product - App containers, declaration, etc. (similar to Helm)"
Service Fabric has the concept of Application Type which you can use to deploy multiple times which resembles the whole application - Scaling, application, etc.

With Service Fabric Mesh your containers are versioned and you have your app declaration besides that, but how does one package this when building a product?

Are there plans to support Helm or have something along those lines which allow

[2018-06-21 08:59] tomkerkhove opened #149 "Provide sample with reliable collections"
Are there plans to provide a sample application/walkthrough that is using the reliable collections?

If this is already there, can you provide a link please? Couldn't find any docs on it.

[2018-06-21 21:58] plooploops opened #150 "VS2017 Mesh SDK: Mesh deployment fails when using App Insights"
Azure Mesh deployment fails when hooking in Azure Application Insights key in the service.yaml file.

This is the helloworld app:
https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/tutorial-create-dotnetcore.md

![image](https://user-images.githubusercontent.com/2498998/41747619-72f28db8-7563-11e8-8d92-1c7f97809f7f.png)
![image](https://user-images.githubuserc

[2018-06-22 21:30] vyta opened #151 "Windows quickstart using images that do not exist"
https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/samples/templates/votingapp/quickstart-windows.json uses the following images that do not seem to exist:
seabreeze/votingweb
seabreeze/votingdata:1.0-nanoserver-1709

deployment error:

[code]

Using the following images seem to work:
seabreeze/azure-mesh-quickstart-web:1.0-nanoserver-1709
seabreeze/azure-mesh-quickstart-data:1.0-

[2018-06-22 22:26] allanFunrock opened #152 "dotnet support"
I was quite happy when I saw that the new sfaproj were using the new project system, but also  disappointed that it only works with msbuild and not dotnet. it seems the sdk is installed in `C:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\MSBuild\Sdks` rather than `C:\Program Files\dotnet\sdk\2.1.301\Sdks`

Simply copying the sdk folder over to the dotnet location makes it work as

[2018-06-22 22:44] allanFunrock opened #153 "Nuget support for sfaproj"
With the move to the modern proj format, automatic target/props generation is now supported for nuget packages. However (in addition to #152) In order for dotnet restore to work, a `TargetFramework` needs to be set.

Including a ` <TargetFramework>netstandard2.0</TargetFramework>` in the project files resolves the issue and lets packages be restored. This should be added to `Microsoft.SFApp.Sdk\Sd

[2018-06-23 07:45] allanFunrock opened #154 "Use project references in sfaproj projects"
Currently the sfaproj projects automatically detect service projects via the ´FindServiceProjects´. while this might be convenient in some cases it breaks solutions that contain more than one application (as our solution currently does). In my opinion its also not how msbuild projects works in general.

Instead, sfaproj files should use `ProjectReference` like other dotnet projects does. Not only

[2018-06-23 08:55] allanFunrock opened #155 "Use nuget to distibute Microsoft.SFApp.Sdk"
Custom msbuild sdks can be distributed via nuget, this makes deployment alot easier since a separate installation is not needed and sdks automatically get added as .net sdk versions come along

https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk

[2018-06-24 07:30] allanFunrock opened #156 "CI builds/package an application"
In our current workflow we package up our applications on a build server and deploy them at a later time, however I can't seem to find a way to do that with the new resource apps.

The Package target does not exist and Publish doesn't do anything. There is a target called SFAppPackageApplication but it can't be called on a single sfaproj (since it relies on the solution to find services and not Pr

[2018-06-25 11:10] tomkerkhove opened #157 "az mesh deployment create --mode does not have documentation"
I've noticed there is a `--mode` option for `az mesh deployment create`.

However, there is no documentation on what it does and what options there are:
![image](https://user-images.githubusercontent.com/4345663/41847105-2da10870-7879-11e8-894a-fec00706529f.png)

[2018-06-25 17:58] tomkerkhove opened #158 "Request for Guidance - Applications with dependency on other application/container"
How can one deploy applications to Azure Service Fabric Mesh that depend on jobs to succeed or other applications that have been successfully deployed/succeeded?

## Scenario
Currently working on a scenario where I want to use [Kong](https://konghq.com/about-kong/) as an API Gateway.

![image](https://user-images.githubusercontent.com/4345663/41866820-966c0d9a-78b1-11e8-9746-3901910f41bc.png)

Kon

[2018-06-25 18:25] tomkerkhove opened #159 "Requests forwarded to other codePackage"
I have an application with following setup:
- `Containo.Orders.API` service that is the customer-facing endpoint
    - `Containo.Orders.API` code package which is my API running on port 80. This one has an endpoint defined for port 80.
    - `Containo.Orders.Validator` code package which is a sidecar for my API which was supposed to run on 81, but was running on 80.
- `Containo.Orders.QueueProcess

[2018-06-25 18:49] #40 closed, assigned to mattrowmsft, BharatNarasimman

[2018-06-25 18:50] #41 closed, assigned to mattrowmsft, vaishnavk

[2018-06-26 07:30] #152 closed, assigned to BigMorty

[2018-06-26 20:25] #151 closed, assigned to mikkelhegn

[2018-06-27 19:24] yizhang82 opened #161 "az mesh code-package-log output is hard to read"
[code]

There is no line breaks and it's pretty hard to read.

[2018-06-27 19:55] yizhang82 opened #162 "Need JSON sample/doc for CLI scenarios"
I'm trying to deploy a random container from dockerhub and want to do it through CLI, but there isn't any example on JSON file format nor explanation. I had to get the helloWorldApp json and start tweaking from there.

[2018-06-27 20:15] oanapl opened #163 "az mesh deployment create --parameters does not have documentation"
az mesh deployment create has no help for parameters.

Arguments
    --no-wait                     : Do not wait for the long-running operation to finish.
    --parameters

[2018-06-27 20:27] Christina-Kang opened #164 "az mesh deployment create command hangs with "Running", but creation is successful"
Running the following command gets stuck on running status `az mesh deployment create --resource-group $rg --template-uri https://raw.githubusercontent.com/Azure-Samples/service-fabric-configuration/master/container-configuration.json`

If the deployment takes more than 10 minutes, then open up a new CLI window and run the following to get the status of your application deployment.
az mesh app sho

[2018-06-27 20:49] #164 closed, assigned to nobody

[2018-06-27 20:58] dragav opened #166 "Mesh CLI for Windows: validate input parameters on the client side"
Repro: create/deploy a Mesh application. Try and access its properties using an environment variable to specify the resource group:

Operation returned an invalid status code 'Bad Request'

Note the '$' in front of 'rg' - s/b '%'. Please confirm that the request is not sent to the service prior to validating the args.

[2018-06-27 21:11] yizhang82 opened #167 "We should validate network->applicationName mapping in .json"
In my first attempt I changed the applicationName to etcd-viewer but forgot to update the applicationname in the applicationName in network section. as a result the load balancer didn't configure the mapping from 80 to 8080 (the listener endpoint) so the container is not reachable from public. We should have some sort of validation/warning for this kind of user errors. I understand internally it's

[2018-06-27 21:12] yizhang82 opened #168 "[For shalabh] Creating same application in the same resource group twice will stuck"

[2018-06-27 21:26] heeldin opened #169 "Application log output (through az mesh code-package-log) in cloud shell on the portal is not formatted."
When using cli on the azure portal page and then using command :
az mesh code-package-log get --resource-group $rg --application-name helloWorldApp --service-name helloWorldService --replica-name 0 --code-package-name helloWorldCode

Output I get:
{'additional_properties': {}, 'content': '2018-06-27T21:06:25.574812939+00:00 stdout F 10.88.0.1 - - [27/Jun/2018:21:06:25 +0000] "HEAD / HTTP/1.0" 200

[2018-06-27 21:32] dragav opened #170 "Mesh CLI: ClientRequestError missing 'response'"
I'm not sure what it takes to create the minimal repro for this one - in my case, an app deployment was taking too long, and so (for instance) listing replicas generated a large number of retries.

Command: dragos@Azure:~$ az mesh service-replica list -g $rg --app-name $appN --service-name $svcN

The error (full output)
'ClientRequestError' object has no attribute 'response'
Traceback (most recent

[2018-06-27 21:49] iyyappam opened #171 "Incorrect picture in SF Mesh tutorial while creating backend service"
https://review.docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-tutorial-create-dotnetcore?branch=pr-en-us-45221#create-the-back-end-service

In the above link, create backend service has incorrect picture. The selection inside the picture points to "Web Application" but we are creating API project.

[2018-06-27 21:54] iyyappam opened #172 "SF Mesh tutorial should inform user to update port number in service.yaml in addition to env. variables"
In MeshApp\WebFrontEnd\Service Resources\service.yaml, instructions is provided to update env. variables such AppName, ServiceName and APIHostPort.

But didn't provide instructions to update the port number in other places in the file such as below.
            - name: WebFrontEnd
              port: 20009
          environmentVariables:
            - name: ASPNETCORE_URLS
              value: htt

[2018-06-27 22:02] AlanWarwick opened #173 "Unable to install SF mesh SDK on my windows 10 machine"
After downloading the SF mesh SDK, I am not able to install it, I get a message  "The system administrator has set policies that prevent installation" ?

MicrosoftServiceFabricSDK.3.2.116.msi did install ok and the mesh sdk also seems to install on other machines.  This may be a group policy issue related to my machine.

[2018-06-27 22:03] AlanWarwick opened #174 "Unable to install docker EE edition on server 2016"
PS C:\windows\system32> Install-Module DockerMsftProvider -Force
PS C:\windows\system32> Install-Package Docker -ProviderName DockerMsftProvider -Force
WARNING: Cannot verify the file SHA256. Deleting the file.
WARNING: C:\Users\alanwar\AppData\Local\Temp\DockerMsftProvider\Docker-17-06-2-ee-14.zip does not exist
Install-Package : Cannot find path 'C:\Users\alanwar\AppData\Local\Temp\DockerMsftPro

[2018-06-27 22:08] pkcsf opened #175 "Unable to install mesh CLI in local box"
Unable to install the SF Mesh CLI on local box , no error message, however it hung for ever  [ref : https://review.docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-setup-developer-environment-sdk?branch=pr-en-us-45221#install-the-service-fabric-mesh-cli ]

Note : I have already verified the CLI version as  [2.0.39)

[2018-06-27 22:30] yizhang82 opened #176 "az mesh deploy create -h doesn't have help for --mode and --parameters"
[code]

[2018-06-27 22:30] AlanWarwick opened #177 "SF Mesh deployed application logs are impossible to understand unless you are a SF mesh developer"
They also don't seem to have any useful information.

C:\WINDOWS\system32>az mesh code-package-log get --resource-group alanwarrgg --application-name helloWorldApp --service-name helloWo
rldService --replica-name 0 --code-package-name helloWorldCode
{'additional_properties': {}, 'content': '2018-06-27T22:25:29.183983226+00:00 stdout F 10.88.0.1 - - [27/Jun/2018:22:25:29 +0000] "G
ET / HTTP/1.1" 20

[2018-06-27 22:34] yizhang82 opened #178 "Non-existent JSON file should not result in a crash"
Assuming a.json isn't present:

[code]

The callstack here is more likely a crash rather than a correct error-handling. We should print out a graceful error message.

[2018-06-27 22:37] dkkapur opened #179 "Add support for Azure Open Service Broker APIs"
See https://azure.microsoft.com/en-us/blog/connect-your-applications-to-azure-with-open-service-broker-for-azure/ for more info on OSBA!

[2018-06-27 22:48] amenarde opened #180 "azure delete command cannot delete application deployed from VS"
Deployed application to azure using visual studio made from https://review.docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-quickstart-dotnet-core?branch=pr-en-us-45221

On azure portal, when I try to delete from (MeshApplication/Overview/Delete), throws:
Operation name
Delete Applications
Time stamp
Wed Jun 27 2018 15:30:57 GMT-0700 (Pacific Daylight Time)
Event initiated by

[2018-06-27 23:03] yizhang82 opened #181 "show-package-log should be log, and it should support showing logs at various levels and aggregate"
For example, if you show log and only give application, it should show logs from all services. If you specify application and service, it should show all code packages, etc.
show-package-log should simply be logs (just like docker logs)

[2018-06-27 23:16] yizhang82 opened #182 "Deploy stuck if you deploy apps with the same network"
1. Deploy app with network
2. Change the app.json and rename the app name, but keep the same network
3. Deploy again. You'll get stuck.

From what I heard from vaishanv, it shouldn't be allowed. So this should be an error.

[2018-06-27 23:23] gkhanna79 opened #183 "Single installer for Mesh Setup"
Instead of executing 4 different installers to get Mesh development in place (see https://review.docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-setup-developer-environment-sdk?branch=pr-en-us-45221), please have a single installer to get the work done.

[2018-06-28 02:01] #169 closed, assigned to nobody

[2018-06-29 10:31] raunakpandya opened #184 "Failed to deploy hellow world app - resource deployment failure first time, second time, failed to find app error"
C:\WINDOWS\system32>az mesh deployment create --resource-group raunakrg --template-file c:\Users\raunakp\hellowworld.json
If the deployment takes more than 10 minutes, then open up a new CLI window and run the following to get the status of your application deployment.
az mesh app show --resource-group <resource group name> --name <application name>
The output should point to the potential issue.

[2018-06-29 10:36] ashishnegi opened #185 "Linux : az tool gives stack error on each command"
After running any `az` command, I see a stack trace. This is bad experience for tooling.

[code]

[2018-06-29 10:40] ashishnegi opened #186 "Apps failing to deploy : Property: .properties.schemaversion is not supported"
Basic hello world app fails with error : `Property: .properties.schemaversion is not supported`

Tried with bot Linux and Windows.

[code]

[2018-06-29 10:41] novino opened #187 "Clean up resources experience is buggy"
az mesh app delete -g nachandr -n helloWorldApp is taking too long and not able to delete.
Subscription - SF Temporary subscription
Region - eastUS
resourceGroup - nachandr
time waited - more than 30 minutes
az cli version - 2.0.39
mesh version - mesh (0.7.0)

[2018-06-29 11:02] ashishnegi opened #188 "Documentation on Mesh has code snippets related to linux"
I have tried to fix one https://github.com/rwike77/azure-docs-pr/pull/17/commits/357de164b179f6fffc7a5362f0e3ce0ff076aff9
But there can be more issues.

[2018-06-29 19:59] mcollier opened #189 "Unable to deploy quickstart - AdditionalPropertyValidationErrors"
Attempting to deploy the quickstart sample at https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/application-deployment-quickstart.md failed with the error message shown below.  Attempted to use the (very similar) template at https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/samples/src/votingapp/linux/Deployment/quickstart-linux.json.  Same

[2018-06-29 23:03] plooploops opened #190 "az mesh network show -g <rg> -n <name> cannot find network"
az mesh network list is a workaround, but show doesn't work.

![image](https://user-images.githubusercontent.com/2498998/42118141-e372e8f0-7bb5-11e8-9016-4dc5eb66578b.png)

[2018-06-29 23:04] plooploops opened #191 "az mesh volume list --output table [Table output unavailable]"
az mesh volume list is a workaround.
![image](https://user-images.githubusercontent.com/2498998/42118161-0df13028-7bb6-11e8-908f-e062fd86fb17.png)

[2018-07-02 22:56] #171 closed, assigned to TylerMSFT

[2018-07-03 20:41] SamirFarhat opened #193 "Unable to deploy an Service Mesh application - "message": "Resource {0} not found.","
Since Sunday, i'm not be able to deploy a SM application :
- First : This issue (https://github.com/Azure/service-fabric-mesh-preview-pr/issues/189): Fixed by removing the extra properties
- Second : This issue https://github.com/Azure/service-fabric-mesh-preview-pr/issues/184
- And now, i'm receiving this error message during deployment

Deployment failed. Correlation ID: 3df4a3be-4079-4596-8e03-

[2018-07-05 21:16] #172 closed, assigned to TylerMSFT

[2018-07-06 04:28] MikkelHegn opened #195 "az mesh shows no resources, if the resource was created from Visual Studio"
Latest Visual Studio tooling is using the new namespace `Microsoft.ServicefabricMesh` and api version `2018-07-01-preview`. The Azure cli `az mesh` does not support this namespace and api-version and cannot query these resources.

The same will happen if you create a deployment from `az mesh `using the new namespace and api.

[2018-07-07 01:20] dkkapur opened #200 "CLI command validation for invalid resource group name is incorrect"
![image](https://user-images.githubusercontent.com/2343218/42405338-0d51cc84-8149-11e8-9282-a62b737850bf.png)

In this command, I was missing the resourcegroupname, but the response is that the "system cannot find the file" which sounds more like there's an issue with the template file I'm pointing to, which is not the case.

[2018-07-07 02:02] mcollier opened #201 "Visual Studio deployment failure error is not helpful"
I'm trying to deploy the [VotingApp ](https://github.com/Azure/service-fabric-mesh-preview-pr/tree/master/samples/src/votingapp/windows/VotingApp)sample from Visual Studio 2017.  After building the images and uploading the images to Azure Container Registry, the deployment eventually fails, after about 20 minutes.

The output from Visual Studio is as follows:
[code]

When I view the deployment err

[2018-07-07 02:19] mcollier opened #202 "Unable to resolve service name via DNS"
When trying to debug the VotingApp locally, I'm unable to get the VotingWeb service to successful call the API in the VotaData service.

For example, when opening the VotingWeb default page (http://localhost:20005/), the site attempts to call the VotaData API at http://votingdata.votingapp:20000/api/votesdata.  That call fails with the error message "An error occurred while sending the request. --

[2018-07-07 03:23] mcollier opened #203 "Azure Portal shows no resources if is app deployed from Visual Studio"
After deploying a Service Fabric Mesh application from Visual Studio 2017, the Azure Portal shows now resources in the target resource group.

I think this is probably somewhat related to #195.

[2018-07-08 10:19] tomkerkhove opened #206 "Why the name "Azure Service Fabric Mesh"?"
I'm a bit curious why the name `Azure Service Fabric Mesh` was chosen. Have other options been considered where the name `Service Fabric` is not used?

I totally see why it has been done but I'm also afraid that this will scare non-SF customers because "they don't use Service Fabric" while you really don't have to use it, just bring your containers.

That's why I think that names such as `Azure Co

[2018-07-09 19:52] mcollier opened #207 "Unable to delete Mesh app or parent resource group"
I have an app that appears to be stuck in an "Updating" provisioning state with a status of "Invalid".  I am unable to delete the app using the `az mesh app delete` Azure CLI command (error is "Max retries exceeded with url: /subscriptions/xxxxxx/resourceGroups/coazure-sfmesh-helloworld/providers/Microsoft.ServiceFabric/applications/helloWorldAppWindows?api-version=2018-03-01-privatepreview (Cause

[2018-07-10 01:25] dkkapur opened #212 "Az CLI not working for "network show""
This seems to be part of a known issue but putting it here so we can track and manage duplicates.

![image](https://user-images.githubusercontent.com/2343218/42483906-46cabddc-83a5-11e8-9385-01ba4cd8fa33.png)

Even though an app and a network is provisioned successfully, the resources don't show up in Portal or through CLI.

[2018-07-10 08:21] SamirFarhat opened #213 "Use the same port (internal port) for multiple services"
Why multiple Services cannot use the same port?
I have created a SFM App with two services. Each Sevice has one code package, each code package listens on a port, the same port. I have then published each port using the ingress configuration.
I was able to reach only one service.
I have then modified the template so that the second service uses a different port, and then it worked.
Is this unsuppo

[2018-07-12 18:26] SamirFarhat opened #215 "SFM Apps no longer showing on the portal"
Hi,
The SFM app resources are no longer showing on the portal. They only show if i select "Show hidden types", and they show as generic resources.

[2018-07-12 23:21] threetornados opened #216 "Deployment failed on helloworld/quickstarts - Resource {0} not found."
I'm getting an error when deploying the Quickstart and the Helloworld Linux samples with the 0.8.0 mesh cli tools.  Checking the other images and the windows version shortly.

Here is the error:

Deployment failed. Correlation ID: e04f4370-f271-43f5-917b-8d97f560d3d0. {
  "error": {
    "code": "NotFound",
    "message": "Resource {0} not found.",
    "details": [],
    "innerError": "Code: NotFou

[2018-07-12 23:24] sridmad opened #217 "az mesh code-package-log get output has to be better formatted"
Currently the contents are not formatted in any way and reading them requires a lot of reformatting before they are usable.

[2018-07-13 20:56] #175 closed, assigned to nobody

[2018-07-14 14:47] amolenk opened #218 "Service Fabric Mesh SDK installer link is broken"
The link for the Service Fabric Mesh SDK installer is broken (https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/conceptual-docs/setup-developer-environment-sdk.md).

Following the http://aka.ms/sfmeshsdk link redirects to http://download.microsoft.com/download/0/4/4/04433D0E-E60C-4808-8781-AD77F434F830/MicrosoftServiceFabricMeshSDK.3.2.162.msi which returns a 404.

[2018-07-14 17:33] #216 closed, assigned to nobody

[2018-07-15 16:26] tomkerkhove opened #219 "Deployment with Microsoft.ServiceFabricMesh provider never completes"
As of [private previes 4](https://github.com/Azure/service-fabric-mesh-preview-pr#private-preview-4-updates) you can now use the `Microsoft.ServiceFabricMesh` ARM provider with the `2018-07-01-preview` version .

When trying this on the Cloud Shell I've received the following error:

[code]
This is ok as it's marked as a known issue.

When using a regular ARM deployment in the portal it keeps on r

[2018-07-15 19:23] tomkerkhove opened #220 "Portal experience for networking"
What are the plans for the portal experience when it comes to Networking?

### Required features
- Overview of all applications that are part of the network
- List of all endpoints that are exposed, both externally & internally

### Nice-to-have features
- See the volume of traffic from an inbound part

[2018-07-15 19:23] tomkerkhove opened #221 "Provide endpoint validation for networks"
Would be good that there is some sort of endpoint validation when new networks are being added to ensure that port forwarding is setup correctly.

[2018-07-15 19:29] tomkerkhove opened #222 "Provide documentation on networking"
Are there plans to provide more documentation on the networking aspect of Mesh?

Currently the [only documentation](https://github.com/Azure/service-fabric-mesh-preview-pr/blob/master/docs/preview-docs/service-fabric-mesh-service-fabric-resources.md#networks) that I can find is:

Things that I'm wondering about:
- How does one create an internal-only network?
     - Omitting the `ingressConfig` re

[2018-07-16 06:35] #219 closed, assigned to nobody

[2018-07-16 07:00] tomkerkhove opened #223 "Deployment failed because of ARM parameters"
I'm currenly using an ARM template which has a parameter for the application name. Unfortunately this is causing the deployment to fail:

### CLI Version
0.8.0rc2

### Command
This is the command that was being used:
[code]

### Error

[parameters('Application.Name')] could not be reached.
To recieve additional information run the following to get the status of the application deployment.
az mesh

[2018-07-16 22:12] #45 closed, assigned to mattrowmsft

[2018-07-16 22:16] #189 closed, assigned to mattrowmsft

[2018-07-16 22:19] mattrowmsft commented on #137
We added a statusDetails field to the application properties which will now carry better diagnostic information.  This will get surfaced by CLI automatically.

[2018-07-16 22:20] mattrowmsft commented on #203
Should be fixed now, please reopen if you still see issues with latest tooling.

[2018-07-16 22:20] #203 closed

[2018-07-16 22:21] mattrowmsft commented on #180
This is fixed with today's portal deployment.

[2018-07-16 22:21] #180 closed

[2018-07-16 22:34] mattrowmsft commented on #183
@maburlik I think you did this work right?  Can you close if so?

[2018-07-16 22:39] mattrowmsft commented on #212
namespace issue which is fixed with latest stack of tooling.

[2018-07-16 22:39] #212 closed

[2018-07-16 22:40] mattrowmsft commented on #215
Resources using the new namespaces used by latest tooling (Microsoft.ServiceFabricMesh) should show up again now. Please reopen if you are not able to see them.

[2018-07-16 22:40] #215 closed

[2018-07-16 22:40] mattrowmsft commented on #195
Everything should be on new namespace now.

[2018-07-16 22:40] #195 closed

[2018-07-16 22:42] mattrowmsft commented on #223
I think this is CLI bug and should work if you use the generic ARM deployment commands.

[2018-07-16 22:51] mattrowmsft commented on #221
Are you thinking like the network endpoint should be able to specify some kind of heartbeat messages and then show status of those heartbeats?  Or something simpler which just shows whether any service endpoint exists on an application which is matched to the network l4config configuration?

[2018-07-16 22:54] mattrowmsft commented on #5
WestUS and WestEurope are live :-). More to come periodically.

[2018-07-16 22:54] #5 closed

[2018-07-16 22:58] mattrowmsft commented on #217
Duplicate of #161 . Reopen if you think they are different.

[2018-07-16 22:58] #217 closed

[2018-07-17 04:46] jmeijrink commented on #137
I can confirm that I got clear error messages now. Error was about too much public port mappings, after fixing that it deployed successful.

[2018-07-17 04:46] #137 closed

[2018-07-17 05:21] VipulM-MSFT commented on #223
The parameters should be specified using the following syntax:

--parameters "{\"location\": {\"value\": \"eastus\"}}"

[2018-07-17 05:25] #218 closed, assigned to nobody

[2018-07-17 05:37] VipulM-MSFT commented on #200
The error is not coming from the CLI it is coming from the shell you are using. Try this

[code]
OR
[code]
OR
[code]

[2018-07-17 05:37] #200 closed

[2018-07-17 05:38] VipulM-MSFT commented on #188
This is already fixed in the published Service Fabric Mesh documentation.

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/

If not, please re-open the issue with the right link.

[2018-07-17 05:38] #188 closed

[2018-07-17 05:43] VipulM-MSFT commented on #173
Closing this issue - please feel free to re-open if there is something we can fix.

[2018-07-17 05:43] #173 closed

[2018-07-17 05:44] VipulM-MSFT commented on #187
There was temporary issue with the service while in private preview. If you still encounter this, please re-open the issue with the full Resource ID and the time it happened.

[2018-07-17 05:44] #187 closed

[2018-07-17 05:46] VipulM-MSFT commented on #178
This is now fixed:

vipul@Azure:~$ az mesh deployment create -g vipumtest11 --template-file a.json
Deploying...
[Errno 2] No such file or directory: 'a.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke

[2018-07-17 05:46] #178 closed

[2018-07-17 06:29] tomkerkhove commented on #223
The parameter in the ARM template has a default value so it should not be passed and just take that one, please feel free to re-open as I think this is a CLI bug

[2018-07-17 07:24] SamirFarhat opened #227 "SFM pricing page"
Is there any page describing the SFM pricing?

[2018-07-17 08:31] tomkerkhove commented on #227
There is no pricing applied yet nor documented:

([source](https://azure.microsoft.com/en-us/blog/azure-service-fabric-mesh-is-now-in-public-preview/))

[2018-07-17 08:41] SamirFarhat commented on #227
Thanks. I was aware of that on PP, but for Public preview, you have the answer.

[2018-07-17 08:41] #227 closed

[2018-07-17 13:19] Pothulapati opened #228 "Deploying through sfctl and the API"
I've followed the documentation and was able to create a sf mesh application on Azure. The experience was really fluid. Cheers!

I also installed the service fabric run-time to run a local development cluster, Is there a way to deploy mesh applications to the local cluster from sfctl (as with the new application model, it is just a template.json to deploy applications). Through Visual Studio is th

[2018-07-17 15:04] tomkerkhove opened #229 "Visual Studio Tools for Service Fabric Mesh - Support for Linux"
Is there a timeframe for support for Linux services with the Visual Studio Tools for Service Fabric Mesh?

[2018-07-17 16:55] mattrowmsft commented on #223
@VipulM-MSFT  I think you commented/closed on wrong issue.  I think this is related to the parsing that is happening of the app to provide better status details after deployment completes.

[2018-07-17 17:03] VipulM-MSFT commented on #228
The SFCTL work is in progress. Today there is a PowerShell module that you can use to deploy to local cluster. This is the same module that VS uses @amanbha to provide details.

We are in the process of releasing the API documentation. The Swagger specification for the RP is published and Swagger for the Service Fabric Client APIs is in progress.

[2018-07-17 17:04] VipulM-MSFT commented on #229
@raunakpandya, @dbreshears and @MikkelHegn

[2018-07-17 17:33] jeffj6123 commented on #223
@mattrowmsft Yeah, there does appear to be an issue with the way the CLI attempted to parse the error message but would not be the cause of the deployment failure. Given it still goes through ARM, you should be able to see the reason for the deployment failure using the "az group deployment show" cmd. The CLI issue here occurs after the deployment itself has already failed.

[2018-07-17 17:37] linggengmsft commented on #191
@abhishekram The table parsing is broken:

Traceback (most recent call last):
  File "/home/linggeng/depot/azure-cli/env/lib/python3.5/site-packages/knack/output.py", line 56, in format_table
    result = obj.table_transformer(result)
  File "/home/linggeng/.azure/devcliextensions/mesh/azext_mesh/commands.py", line 97, in transform_volume_list
    return [transform_volume(volume) for volume in res

[2018-07-17 18:51] ChackDan opened #230 "Publish Azure deployment Blue prints"
Posting on the behalf of a customer.

Publish azure deployment blueprints which give PCI DSS compliant reference environments similar to what you did recently here: https://azure.microsoft.com/en-gb/blog/payment-processing-blueprint-for-pci-dss-compliant-environments/
An updated version of this using SF / SFM and all the other new features you recently released (Azure Firewalls, Service End Points

[2018-07-17 19:40] vyta opened #231 ""Successful" deployment but in no network"
Deployed the Windows Voting app sample (https://github.com/Azure-Samples/service-fabric-mesh/blob/master/templates/voting/mesh_rp.windows.json)

"provisioningState": "Suceeded"

but Network does not seem to exist. Checked via cli and portal.

Correlation ID: 24a5a8be-cd26-4c5f-b694-8ff9590d707c

[2018-07-17 19:54] amanbha commented on #228
@Pothulapati There is a PS module used by VS to deploy to local cluster which can be used to deploy to other Service Fabric clusters as well. This PS module makes REST calls to Service Fabric Http Gateway. Its available at C:\Program Files\Microsoft SDKs\Service Fabric\Tools\Mesh\Scripts\PSModule. This currently supports unsecured clusters only and the usage might change in future as this is curre

[2018-07-17 20:14] vyta commented on #231
az mesh network list works in cli versions 8.1 and 9.0, but still unable to see network resource in portal

[2018-07-17 20:16] vyta opened #232 "VS fails to build todo sample"
Followed steps to set up dev environment and to debug locally (https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-tutorial-debug-service-fabric-mesh-app), fails with "There were build errors" window, but no errors in errors list.

[2018-07-17 23:30] #231 closed

[2018-07-18 18:17] VipulM-MSFT commented on #232
If you open the following solution, does it build?
https://github.com/Azure-Samples/service-fabric-mesh/tree/master/src/counter/src

[2018-07-18 18:20] VipulM-MSFT commented on #228
The REST API specification is published here: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/servicefabricmesh/resource-manager

[2018-07-18 18:56] Pothulapati commented on #228
This look likes the spec for Azure resource manager. So, does the same spec for the local service fabric cluster? If yes what are the fields subscriptionid and resource group going to be?
Thanks

[2018-07-18 21:01] sgreenmsft commented on #232
You can increase the build output verbosity by going to Tools > Options > Projects and Solutions > Build and Run, and modify the MSBuild project build output verbosity to Detailed.  This should provide additional information about the build process that will help diagnose what's going wrong.

[2018-07-18 22:38] sgreenmsft commented on #232
One common issue is for port conflicts to prevent a service from starting.  That is, two applications could attempt to allocate port 20006 or 20008 (the ports used by todolistapp).  You can use the Service Fabric Local Cluster Manager to ensure that no running SF Applications are using either of those ports before attempting to F5 todolistapp.

[2018-07-19 05:58] littlenetcoder commented on #232
I was also facing docker file build issue, After setup MSBuild project build output verbosity to Detailed, I saw unauthorized error for downloading image from docker hub repository. Once i logged into my docker hub account using power shell - docker login. I am able to run samples successfully. This might help.

[2018-07-19 07:18] tbertenshaw commented on #232
another thing to check is if you are running the samples on windows 2016 then the docker images are incompatible. You cannot run `microsoft/aspnetcore:2.0-nanoserver-1709` on 2016. This manifests itself with a reexec error in the servicefabric tools panel when its pulling the docker images

[2018-07-19 08:21] tbertenshaw opened #233 "Error running TodoList Quickstart on Dev Cluster"
I had the same issue running the asp.net core2 sample from the [samples repo](https://github.com/Azure-Samples/service-fabric-mesh/tree/master/src/todolistapp).
So i started again with dotnetcore2.1 and got the same result.  ( I am using a local 5 node cluster, and the latest version of the VStooling and servicefabric sdk)

This is on line 19 of the Index.cshtml.cs.

System.Net.Http.HttpRequestExc

[2018-07-19 14:54] Izharsa commented on #230
Great idea

[2018-07-19 15:31] tbertenshaw commented on #233
if i put a breakpoint on line 19

- `   using (HttpResponseMessage response = client.GetAsync(backendUrl).GetAwaiter().GetResult())`
- then i find out the backend services ipaddress
   - by running `docker network inspect nat`
   - then establishing which one is the backendservice
   - and resetting the backendUrl `backendUrl = new Uri($"http://172.24.170.100:{Environment.GetEnvironmentVariable("A

[2018-07-19 20:44] VipulM-MSFT commented on #228
The documentation for the Mesh RP is published here. https://docs.microsoft.com/en-us/rest/api/servicefabric/

The local cluster REST API specifications are in the process of being published.

[2018-07-20 07:53] tomkerkhove opened #234 "Support for exploring state"
Given state will be stored in a volume, will we be able to browse the stored state in that volume?

It would be great to have a "State Explorer" that provides this capability for both development & operational reasons.

Kudos to @samneirinck for the idea.

[2018-07-20 10:59] askew opened #235 "Visual Studio tooling exposes secret"
The Visual Studio tooling generates an ARM template that is used to publish the application to SF Mesh. This template has the parameter `registryPassword` of type `string`. This parameter needs to be `securestring` as the Container Registry password is currently revealed in plain text in the resource group deployment history.

[2018-07-20 13:37] ChackDan commented on #235
Yes, this is only a point in time thing. we are adding support for "secret" resources, where you would be able to specify "inline" or "by ref" secrets. When using "by ref" the secret would be in KeyVault.

I will keep this issue open to track this to closure. Thankyou for reporting it.

[2018-07-20 13:39] ChackDan commented on #234
I agree :).

[2018-07-20 13:40] ChackDan commented on #233
Ryan , please followup.

[2018-07-20 13:46] ChackDan commented on #220
We plan to have a much improved portal experience by Sept. the portal team walked though the mocks yesterday. The first wave would focus more on the manage experience.  If you would spare time to give us some early feedback, do email me.

[2018-07-20 13:47] #206 closed

[2018-07-20 13:49] ChackDan commented on #213
@SamirFarhat  - Layer 7 capabilities are in the roadmap.

[2018-07-20 13:51] ChackDan commented on #207
@mcollier  - did you end up deleting the RG ?

[2018-07-20 14:00] tomkerkhove opened #236 "Roadmap"
Are there plans to provide a roadmap on what features are coming and an estimated delivery?

[2018-07-20 14:04] MedAnd commented on #236
@tomkerkhove just had @ChackDan share some roadmap details in the discussion section of this post: https://disqus.com/home/discussion/thewindowsazureblog/azure_service_fabric_mesh_is_now_in_public_preview

Also asked this question via this issue: [State Storage Roadmap](https://github.com/MicrosoftDocs/azure-docs/issues/11905) but was closed as per comments...

[2018-07-20 14:08] MedAnd opened #237 "Support for Visual Code and Service Fabric Mesh"
Would be great to add Visual Code tooling support for Service Fabric Mesh...

[2018-07-20 15:17] tomkerkhove opened #238 "Visual Studio Tools for Service Fabric Mesh - Support for multiple code-packages"
Currently the `service.yaml` is stored in a specific project which means that **one service** can only have **one code-package**.

Will this change in the future?

[2018-07-20 16:17] tbertenshaw commented on #232
@ChackDan  submitted a pr which hopefully will resolve this issue. https://github.com/Azure/service-fabric-mesh-preview/issues/233

[2018-07-20 16:23] ChackDan commented on #232
Thankyou @tbertenshaw. @vyta  - can you try this fix.

Personally, I think we may still need a sample using nanoserver. That could be a nother version you publish.

[2018-07-20 16:55] VipulM-MSFT commented on #134
All of the sample templates published in the "How-to" documentation use the images from dockerhub. Mesh applications can be authored using YAML files in VS. The command line tooling support is coming.

[2018-07-20 20:54] tomkerkhove commented on #101
Circling back to this - In #134 @VipulM-MSFT mentioned CLI support for YAML is coming. I presume this will mean that the above scenario will be supported and I can deploy my YAML templates via `az mesh deployment create`?

[2018-07-20 20:58] VipulM-MSFT commented on #101
Yes that is the idea.

[2018-07-20 22:20] VipulM-MSFT commented on #238
@dbreshears for the timeline and priority.

@tomkerkhove - there is an supported workaround that works today.
- Create a new project
- Change the name of the service in the YAML file for the new project to be the same as the previous service
- Since our tool does structural merge, they will end up as two separate code packages in the same service (they will NOT be part of the same POD/namespace fo

[2018-07-20 22:21] VipulM-MSFT commented on #235
@ChackDan before the secret support we should change the template to use securestring. @BigMorty

[2018-07-20 23:49] ChackDan commented on #235
Makes sense.

[2018-07-21 00:09] suhuruli commented on #237
We are working on this :)

@raunakpandya

[2018-07-22 14:58] MedAnd commented on #237
Hi @suhuruli, not sure if this belongs here or under [Visual Studio Code extension for Reliable Services in Service Fabric](vscode-service-fabric-reliable-services) but have been converting an existing VS 2017 Service Fabric Solution (.Net Core) to run cross platform and so much (ALL) of the process is currently manual... hoping your efforts will take away the pain :wink:

That is, I have to creat

[2018-07-22 15:15] MedAnd commented on #134
Hi @VipulM-MSFT ... believe this is a longer term goal as per comments from @ChackDan but being able to use existing Compose solutions without having to write or know any Mesh YAML would be the ideal... even if this is supported via a conversion process built-into the Mesh tooling.

Imagine in VSO a step definition which allows one to pick any Linux Docker Compose solution and then deploy this to

[2018-07-23 17:20] wangcai0124 commented on #191
This issue get fixed and it will be published while we release the next version of CLI.

[2018-07-23 17:20] #191 closed

[2018-07-24 10:20] heymega commented on #202
I'm having the same issue!

I've tried `votingdata `and `votingdata.votingapp` both debugging locally and after publishing to Azure.
The address isn't getting resolved.

@mcollier can I ask, are you getting the same issue when publishing to Azure?

[2018-07-24 15:15] tomkerkhove opened #239 "Plans for routing rules"
Can you elaborate on the plans for this please? How do you see this?

Will the old approach still work, I presume not?

[2018-07-24 19:40] BigMorty commented on #235
We have made this change, it will be in the next refresh of the Visual Studio Mesh tools!

[2018-07-24 19:43] MikkelHegn commented on #229
The only thing you cannot do today is debug the services in a Service Fabric cluster. You can debug the service outside a container, by changing the startup projects and launch profile. To publish, you only have to change the os type in the yaml files.

The missing pieces her is how to run SF on Linux on Windows, or how to have SF on Windows run Linux containers. We are still assessing the best pa

[2018-07-24 19:44] BigMorty commented on #232
@vyta - Any update on getting the samples to work?

[2018-07-24 21:17] vyta commented on #232
I still am unable to build/debug the counter service in VS. I can build and run the service outside of vs, docker build/run and it works., but I cannot docker run the image that was built by VS

[2018-07-24 21:55] aditmer opened #240 "Error deploying local cluster"
Hello,

I'm getting the following error deploying a local cluster:

System.IO.IOException: The network path was not found.

   at Microsoft.Win32.RegistryKey.Win32ErrorStatic(Int32 errorCode, String str)
   at Microsoft.Win32.RegistryKey.OpenRemoteBaseKey(RegistryHive hKey, String machineName, RegistryView view)
   at System.Fabric.FabricDeployer.Utility.GetTempPathInner(String machineName)
   at

[2018-07-24 22:00] BigMorty commented on #232
Have you increased the build output verbosity to 'Detailed' as @sgreenmsft suggested above? Do you see anything actionable? If you are OK with sharing the output from the various Output windows in Visual Studio you can do that as well. You can email them to me at mike.morton@microsoft.com.

By the way, you will not be able to 'docker run' the image built by Visual Studio, it does not have everythi

[2018-07-24 22:24] MickBadran opened #241 "Application/service name with . hangs during deployment"
Hi folks, I've got alot of SF Service code to port over and I'm just starting out with SF Mesh (it's possible I've missrd a simple checkbox)

What I've done (vs2017/sfmeshtools - v0.9.20180718.1)
- created an empty SF Mesh API based application.
- Set the app to .netcore-2.0 as I read on the forums 2.1 win10 may deploy an unsupported image.
- published to an empty Resource Group + new Container Re

[2018-07-25 02:48] VipulM-MSFT commented on #241
Can you provide the full resource id for your app? You can check the status of the deployment or any other issues by using the az mesh CLI and doing "az mesh app list".

Can you explain "Set the app to .netcore-2.0" - did you change the base image in the Dockerfile?

[2018-07-25 03:45] MickBadran commented on #241
Thanks for the quick response.

Deployment 20180725101829 failed. Go to https://portal.azure.com/#resource/subscriptions/0ea15caf-6ded-43a9-ac91-38f7d7cecc0f/resourceGroups/handled-sf-mesh-DEV/deployments to view the deployment error in Azure Portal.
Correlation Id: 6f21a7a7-547c-4028-b0b6-b7c80b04cfc0

I did one deployment changing the docker file to use the specific image.

I then created brand

[2018-07-25 03:59] MickBadran commented on #241
looking at the app state from the CLI it says it's 'updating'

mick@Azure:~$ az mesh app list
[
  {
    "debugParams": null,
    "description": "handled.MDW.Calcs description.",
    "diagnostics": null,
    "healthState": "Ok",
    "id": "/subscriptions/0ea15caf-6ded-43a9-ac91-38f7d7cecc0f/resourcegroups/handled-sf-mesh-DEV/providers/Microsoft.ServiceFabricMesh/applications/handled.MDW.Calcs",

[2018-07-25 04:55] VipulM-MSFT commented on #241
There does seem to be some issue on the backend that I need to follow up. Please leave the app in this state if you can.

[2018-07-25 05:16] MickBadran commented on #241
No problems - will do. Many thanks.

[2018-07-25 16:53] allanFunrock commented on #156
ok, thanks for the info :)

[2018-07-25 16:53] #156 closed

[2018-07-25 20:00] ChackDan commented on #239
Tom,  email me, will loop in vas who is driving this effort and love to get your feedback on the plans.

[2018-07-25 20:04] ChackDan commented on #236
@tomkerkhove  and @MedAnd  - give us some time. We will publish the features that are planned for this year soon. Like all engineering teams, we are also on a tight budget and so are now in the process of making painful cuts, so that we have features that are of great quality.

[2018-07-25 20:07] ChackDan commented on #184
Please retry. The deployment issues for the most part are now fixed.

[2018-07-25 20:07] #184 closed

[2018-07-25 20:30] amanbha commented on #240
@maburlik could you help with this FabricDeployer error?

[2018-07-25 20:48] sgreenmsft commented on #142
@drub0y - We've also added a property DockerfileFastModeStage that can be used in the service project csproj file to specify the desired build stage for use during F5 (fast mode being a reference to the mode where we volume map the assemblies compiled on the host into the running container instead of building inside of the container).

[2018-07-25 20:50] BigMorty commented on #142
@drub0y - Based on the four additions @sgreenmsft mentioned above, are you ready to close this issue?

[2018-07-25 21:48] vyta commented on #232
Uninstalling everything, including the Service Fabric runtime and reinstalling worked. I didn’t uninstall the runtime last time, so that might have been the fix.

[2018-07-25 21:49] VipulM-MSFT commented on #241
@MickBadran - I should have noticed that you have dot in the app name. Please remove that and try again. We do have a bug in which to provide you with the right failure message.

[2018-07-25 21:58] VipulM-MSFT commented on #241
The "dot" is not allowed to ensure that the DNS resolution works across applications. The DNS name for the service is "service.app", having app containing additional names does not work for cross application resolutions through DNS.

[2018-07-25 23:20] MickBadran commented on #241
ok - thanks, is it the SF Mesh application name of

handled.MDW.Calcs

or the service name of

handledMDWCalcs

I'm suspecting the former - great to know these things :)

I'll give it another go and many thanks,

[2018-07-25 23:32] VipulM-MSFT commented on #190
Yes this looks like a bug in the CLI.

[2018-07-25 23:33] VipulM-MSFT commented on #207
@mcollier - we are closing this issue for now. If you do run in to it, please feel free to reopen.

[2018-07-25 23:33] #207 closed

[2018-07-25 23:38] mattrowmsft commented on #241
Application name would need to be handledMDWCalcs

[2018-07-25 23:46] mcollier commented on #202
@heymega I haven't tried since the public preview became available. I'll try again soon with the latest bits.

[2018-07-26 00:14] #186 closed

[2018-07-26 00:27] #36 closed, assigned to linggengmsft

[2018-07-26 00:32] VipulM-MSFT commented on #39
Yes we have table output for all commands. Closing this.

[2018-07-26 00:32] #39 closed

[2018-07-26 00:33] VipulM-MSFT commented on #85
Yes the service principals are not yet supported. We have corrected the documentation.

[2018-07-26 00:52] MickBadran commented on #241
FYI - after removing '.' (dots) from the name all is working as expected.

Thanks guys - awesome!!!!

[2018-07-26 01:01] MickBadran opened #242 "Feedback: Is there a DNS name for the exposed public IP"
Hi folks,

I have a few questions around the external public IP address.

1. Does it change with each deployment?

2. Is there a DNS equivalent (or are there future plans) rather than the IP address?
(tends to make solutions a little brittle)

Many thanks,

Mick.

[2018-07-26 01:22] MickBadran opened #243 "Feedback: Packages - variables, parameters & ports"
Hi folks, as a long time developer of SF solutions I've got some feedback for the team on these issues:

1) Variables + Parameters - love the concept. We need to be able to define 'magic numbers' external to our code.

The issue: in SF/SF Mesh these are baked into the app packages meaning that if any of these are required to change then new packages need to be created.

Example: a DB connection st

[2018-07-26 04:03] ChackDan commented on #220
It is not typical for us to share the mocks pubically, however if you are willing, I can ask the designers to have you be a part of the UI study on the mocks. That is what tom and a couple of others who wanted to help are doing.

If you are interested, email me chackdan@microsoft.com.

[2018-07-26 04:30] mattrowmsft commented on #241
I'm going to leave this open to track fixing this to fail with a good error message.

[2018-07-26 05:50] drub0y commented on #142
This sounds like some really good progress!!! I haven't had the bandwidth to go put this all together to see how it all comes together to enable the exact scenario I was going for. Reading through the new features it does seem like the boxes are checked to enable this, but I almost wonder if it's still a little _too_ coupled to executing .NET right now...?

Looks like we've now got control over th

[2018-07-26 06:51] tomkerkhove commented on #241
Nice find @MickBadran I think this is also why my application is failing - Will try today

[2018-07-26 09:09] tomkerkhove commented on #243
Typically the way SF solutions are developed is we have several environments e.g. UAT + PROD
(you know where this is going)

Just curious because I don't think I get your concern but can't your application read those values from an environment variable which you specify at deployment time? That way you can use the same package in different stages when deploying. ([example](https://github.com/tomke

[2018-07-26 14:52] tomkerkhove commented on #241
Fixed my issue as well, nice find.

Will there be validation for this in the future?

[2018-07-26 14:54] tomkerkhove commented on #138
Closed in #241 - Was because of `.` in the name

[2018-07-26 14:54] #138 closed

[2018-07-26 16:16] jeffj6123 commented on #190
@plooploops is this still occurring for you? Is there any more to the set up that caused this, I am trying to reproduce it but the networks seem to show up properly for az mesh network show.

[2018-07-26 16:41] sgreenmsft commented on #142
We're limited in what we can achieve with regard to debugging an arbitrary executable.  In order to debug inside of a container we have to volume mount the appropriate debugger (onecoremsvsmon in the case of .NET Core on Windows, vsdbg in the case of .NET Core on Linux, msvsmon in the case of .NET Framework).  Then, we have to launch the debugger using the correct settings for the project type (e.

[2018-07-26 18:08] tomkerkhove opened #244 "Deployment fails without additional information"
While trying to deploy the script below it failed without giving any indication what the cause was.

How should I troubleshoot this? Couldn't find a way to get more information about this...

### Correlation Id
350115d9-9611-4426-9d71-3f96a8570620

### CLI Output
[code]

[2018-07-26 19:07] VipulM-MSFT commented on #228
[Mesh RP REST APIs](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfmeshrp-index)
[Mesh RP REST API Specs](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/servicefabricmesh/resource-manager)

[Service Fabric Client Resource APIs](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-index#service-fabric-resource-model)
[Service Fabric Client API Specs](

[2018-07-26 19:07] #228 closed

[2018-07-27 12:09] tomkerkhove opened #245 "Provide support for Virtual Kubelet"
Provide support for Virtual Kubelet so that we can run a hybrid workload between Kubernetes & Mesh.

This would allow existing customers that are using Kubernetes to run certain workloads in Mesh such as actor-based or stateful-based services.

[2018-07-27 16:07] ninzavivek commented on #202
Please try with public preview, we have couple of fixes targeting around DNS resolution in it. Hopefully they address all the issues mentioned above.

[2018-07-27 21:40] dbreshears commented on #238
I've added a backlog item for us to investigate a solution to this in the tooling.   No timeline at the moment

[2018-07-28 18:43] amolenk opened #246 "Deploying the application to the Service Fabric local cluster failed"
I can't get the simple quick start to deploy to my local cluster. I'm creating a new Service Fabric Mesh solution with a single ASP.NET Core service. If I try to debug or run it on my local cluster, I get a `Deploying the application to the Service Fabric local cluster failed. See Service Fabric Explorer for additional details` error.

Service Fabric Explorer does not show any information, there a

[2018-07-30 15:49] tomkerkhove commented on #244
/cc @MikkelHegn

[2018-07-30 16:06] heymega commented on #246
I was getting this issue as well.

This is the workaround I used...

- Restart the Windows Service named `Hyper-V Virtual Machine Management`
- Restart Docker (Right-click on the docker icon in the tool bar and click restart)
- Debug/Run the cluster in Visual studio

I hope this helps.

[2018-07-30 16:11] heymega commented on #202
@ninzavivek I'm getting this with the public preview. I'm really struggling to get the DNS to resolve. Any help would be greatly appreciated.

[2018-07-30 19:29] amolenk opened #247 "Unclear error message in Visual Studio when deployment fails due to insufficient resources"
If there are insufficient resources when deploying an application to the local cluster, I get the following error in the output window:

[code]

The event log contains much more useful information, there are two warnings:

[code]

It would be nice if this information can be surfaced better to the user in Visual Studio.

[2018-07-30 19:32] amolenk commented on #246
Thanks, just tried it but didn't help.
Then I did some more spelunking in the event log and discovered that the deployment failed due to insufficient resources. I have to change `cpu: 0.5` to `cpu: 0.003` for the application to run succesfully. This has probably something to do with the fact that I'm trying to run this in a Parallels VM.

The error message in VS is pretty unclear though, so I open

[2018-07-30 20:31] ninzavivek commented on #202
Could you tell me exactly steps you are trying, so I can following the same steps on my side and see if I can reproduce the issue.

I tried running other examples, they all seem to work with any issues.

[2018-07-30 20:58] SamirFarhat commented on #202
Just to add something. I recently had the same issue with our custom application in mesh. ServiceName.App name doesn't work, but **ServiceName** only worked

[2018-07-31 05:01] amolenk commented on #246
After setting my Parallels VM to allow full usage of the CPU (4 core i7), I can set the the `cpu` resource request in `service.yaml` to 0.3 maximum, which still seems a bit low.

How is the maximum CPU resource request determined in SFM?

[2018-07-31 06:50] ninzavivek commented on #202
Yes, please use only serviceName. App name is not needed anymore.

[2018-07-31 09:09] heymega commented on #202
OK I've pulled down the TodoList sample and have successfully managed to publish it to Azure.

It attempts to call the backend service using the following code...

[code]

In Azure I get the following error logged in Application Insights...

[code]
[code]

[2018-07-31 13:17] amolenk opened #248 "SfSbzYamlMerge uses current culture's number format when parsing yaml (but shouldn't?)"
The SfSbzYamlMerge tool currently uses the current culture's number format when parsing decimal numbers. For example, on my local system, I use `,` as the decimal separator. If I use the following input yaml:

[code]

The number of cpu cores in the output file will change from 0.5 to 5.0, because the `.` used in the input file is not recognized as a decimal separator. Here's the output file:

[cod

[2018-07-31 19:49] heymega commented on #202
@ninzavivek - Should I create a separate issue?

[2018-08-01 13:39] ninzavivek commented on #202
sure, also please share the version of sdk.
Share teh exact list of sample you are trying.
Also, you are getting this error both on local one box and azure environment, right?

[2018-08-01 14:10] heymega opened #249 "communicating between services results in "The operation timed out" error."
I'm using the following Service Fabric Mesh example with no changes to the code.

[https://github.com/Azure-Samples/service-fabric-mesh/tree/master/src/todolistapp
](https://github.com/Azure-Samples/service-fabric-mesh/tree/master/src/todolistapp
)

- Visual Studio 2017 - 15.7.5
- Microsoft Azure Service Fabric Mesh SDK (Preview) - 3.2.162

**Running Locally**

If I run the solution locally I get

[2018-08-03 06:33] tomkerkhove commented on #245
And it's happening already, awesome! - https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/sfmesh

[2018-08-03 06:35] tomkerkhove commented on #244
Anybody who can help with this? /cc @ChackDan

[2018-08-03 06:52] PrabhujiMudragalla opened #250 "Migrate .Net Framework Reliable Services to SF Mesh"
Hi Team,

We are eager to migrate our application to SF Mesh. I am afraid about about the limitations of SF Mesh.

My application is build up on .Net Framework Service Fabric Reliable services which include following capabilities:
1. Stateful Services with Reliable collections
2. Reliable actors
3. Backup and Restore mechansim
4. Event Grid Messaging

And many more..

All this components are imple

[2018-08-03 07:05] tomkerkhove commented on #250
Reliable collections & actors are not there (yet) so I think you'll have to wait a while but you can already start running your applications as Windows containers

[2018-08-03 09:39] cutefrank commented on #174
You need to copy the zip file into that folder named "DockerMsftProvider". It works for me.

[2018-08-04 13:08] ddobric opened #251 "Console application does not run locally"
Have created the helloworld sample from VS sf-mesh project template.
Unfortunately, application cannot be deployed locally. I have tried ASP.NET default sample with VS project template. ASP.NET sample deploys and runs as expected.

Here is the VS trace of console application:

Service Fabric application warmup in progress – waiting for this to complete. See the Service Fabric Tools output pane for

[2018-08-04 13:21] ddobric opened #252 "What is proposed way to create Actor Model Applications with Mesh?"
SF-Mesh supports application and technology independent model, which is great.
However, right now, we do not have VS templates for actor model based services.
What is the proposed way to do that with mesh?
Are you going to provide the VS template or we have to do it some other way?

If we are going to to add services in containers (no VS template and not even MS technology), what is the proposed w

[2018-08-04 13:31] ddobric opened #253 "Working with multiple services"
I have created the ASP.NET application with VS project template. Application can be deployed and run locally.
As next I have added API by sing same project template (right-mouse click on mesh project in solution -> new sf service).
After that application does not start locally anymore.

[code]

SF explorer does not show anything useful related to this:

[code]

[2018-08-05 22:22] MickBadran opened #254 "How to deploy SF Mesh projects from VSTS Build/Release framework?"
Hey guys - how can I setup a hosted agent to build and deploy this for CI/CD scenarios?

Many thanks,

Mick.

[2018-08-05 22:25] MickBadran opened #255 "BUG? Redeploy of existing working solution fails with resource timeout"
I had a previously working solution up for a few days and then it failed.

I then redeployed from VSNET which timedout and failed after 2.5hrs (which I tried 5 times - clean build, redeploy etc)

I then deleted all my SF artifacts and then *redployed* and it worked!!!

Yay!!!

Q. Was there an environment upgrade? (if so - where could I find this information so I could just go straight to delete an

[2018-08-06 05:15] joergjo commented on #248
Same here. And even if I switch my Win10 machine's locale to en-US, it doesn't work. Deployment simply fails with a non-descriptive `Deploying the application to the Service Fabric local cluster failed. See Service Fabric Explorer for additional details.` message in the Service Fabric Tools pane. In SFX however there is no sign that a deployment was ever started.

[2018-08-06 06:53] tomkerkhove commented on #254
Relates to #112

[2018-08-06 22:08] ddobric opened #256 "Suggestion - More detailed output"
It would be great to have a more detailed output for build and deployment in VS and CLI.
Right now I'm experiencing some issues and really have no idea what is going on if something fails.
Even if everything works well, I feel a kind of lost while waiting on result.

docker push/pull outputs are good examples of transparent feedback of a long-running operation.

[2018-08-07 07:06] tomkerkhove commented on #244
Thank you for checking this @mattrowmsft!

I tried this again in 2 new resource groups (East US & West Europe) but both failed unfortunately.

Correlation Id for EU deployment: `3ff47a82-86a1-4daf-ab43-240de7ede03d`

[2018-08-07 12:04] ai2admin commented on #250
Is there a step-by-step guide for creating a yaml/json for SF Mesh that uses my containers? I tried to modify then one produced by Visual Studio for .NET Core containers and I failed.

I already have my .NET Framework containers deployed to Azure registry and used by a regular SF cluster. It works. Now I need to cover the gap with giving those a try. I imagine I'm not the only one who's looking fo

[2018-08-07 13:50] ai2admin opened #257 "Unable to edit or replace deployment"
I'm creating a new deployment on a brand new resource group and I'm getting this:

"Unable to edit or replace deployment 'mesh_aras': previous deployment from '8/7/2018 1:36:24 PM' is still active (expiration time is '8/14/2018 1:36:23 PM'). Please see https://aka.ms/arm-deploy for usage details."

An only successful Mesh deployment I did before was a sample one, and that one was on a different re

[2018-08-08 12:46] murdockcrc opened #258 "Error creating VS SFM project"
When trying to create a new SFM project, my VS program gets stuck in this screen:

![image](https://user-images.githubusercontent.com/4062119/43837621-62e56cb6-9b19-11e8-8761-4813b8892dad.png)

**Repro steps**
![image](https://user-images.githubusercontent.com/4062119/43837713-ab13940e-9b19-11e8-853d-7e56909ed21d.png)

![image](https://user-images.githubusercontent.com/4062119/43837727-b4912924-9b

[2018-08-08 15:56] dbreshears commented on #258
@murdockcrc, Can you confirm you are on the latest released version of VS 2017 and our Service Fabric Mesh extension on the VS marketplace.  If so, can you attach a debugger from another instance of VS 2017 and generate and attach a dump file when it is hung?

[2018-08-08 18:10] heymega commented on #249
@ChackDan - Any idea what might be causing this?

My colleagues and I are currently trialling this service and none of us can seem to resolve DNS within the cluster.

We've been following the steps outlined in the documentation
https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-tutorial-create-dotnetcore

Any help is greatly appreciated!

[2018-08-08 19:26] BigMorty commented on #235
This has been fixed in the recent update to the Mesh tools. @askew - would you mind closing this issue please?

Thanks,
Mike

[2018-08-10 05:52] mholo65 commented on #248
Related to #131

[2018-08-10 07:02] mholo65 commented on #202
I had the same issue, problem was that Symantec Endpoint Protection (Network Threat Protection) is blocking requests.

This is not the first time Symantec Endpoint Protection breaks networking w/ Hyper-V and Docker for Windows.

[2018-08-10 07:03] mholo65 commented on #233
I had the same issue, problem was that Symantec Endpoint Protection (Network Threat Protection) is blocking requests.

This is not the first time Symantec Endpoint Protection breaks networking w/ Hyper-V and Docker for Windows.

[2018-08-10 08:08] mholo65 commented on #202
Local Onebox issue was fixed by disabling firewall. But experiencing same issues in Azure.

Here's the exception:

[code]

The application I've deployed is the one created in the tutorial [here](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-tutorial-create-dotnetcore)

[2018-08-10 08:51] tbertenshaw commented on #233
@ChackDan  assume this is still an issue and there are no current workarounds? As I paused my evaluation until i have a solution as was a bit of a blocker for me.

[2018-08-10 15:22] heymega opened #259 "Using VPN Gateway or Equivalent with Service Fabric Mesh"
Is it possible for Service Fabric Mesh to use Azure VPN Gateway in order to communicate with an on-prem network?

Some of our services are currently relying on Anti-Corruption Layers.

I've noticed that Service Fabric Mesh's network resource isn't the same as the Virtual Network that you use to setup a VPN Gateway.

[2018-08-10 15:25] heymega commented on #249
The DNS is now resolving in Azure with no changes to the code. However, it still won't resolve locally (which isn't a massive issue for me at this moment in time)

I'm guessing that things are changing your side @ChackDan if the DNS now suddenly resolves?

[2018-08-10 16:43] #235 closed

[2018-08-10 18:41] smereczynski opened #260 "Application is loosing IP address"
Hi,
I have deployed a Hello World sample (on Linux): https://github.com/Azure-Samples/service-fabric-mesh/tree/master/templates/helloworld

Deployment was made few hours ago. Now, on other machine I was trying to connect to this service. I did not made any note with public IP, so I went to CLI and... nothing:

`az mesh app show --resource-group meshTest --name helloWorldApp`

    {
      "debugPar

[2018-08-10 18:43] mattrowmsft commented on #260
You need to do a show on the network to get the IP address.

[2018-08-10 18:46] mattrowmsft commented on #242
1. Yes it would change with each deployment.  (This will change at some point in the future 3-6 months out)
2. We don't generate DNS entries today for the IP addresses.  I'm guessing this would coincide with IP addresses that you get to own and move between deployments.

[2018-08-10 18:47] smereczynski commented on #260
Ha! Bingo! To be honest, I think it should be in the app also (probably there is a milion reasons to not do that) because people are looking for it there. Anyway: THANK YOU!

[2018-08-10 18:48] #260 closed

[2018-08-10 18:56] smereczynski commented on #260
Even reference to the network in an output will be great - like in VM. Seeing network in reference I will try to check (like with NIC in VM).

[2018-08-13 04:00] MickBadran opened #261 "Question: Are we there yet? Can public use SFMesh for unsupported workloads?"
Hi folks, I've got some 'SF Meshed' (new word, I'm claiming it 👍) Services that are on the runway ready to deploy into their brand new world.

**How far away are we from being able to have our own SF Mesh environment?**
I'm happy if it's not supported etc. as I've got some high volume at scale pieces to fill.

I don't want to redeploy everything as traditional APIs etc....all depends on whether SF

[2018-08-13 06:49] joergjo commented on #250
For the time being, I typically pick one of the (ARM) [templates](https://github.com/Azure-Samples/service-fabric-mesh/tree/master/templates) provided in the samples repo and work from there.

[2018-08-13 08:35] heymega opened #262 "Configuration Management?"
According to [this](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-overview#mission-critical-platform-capabilities) section of the documentation, SF Mesh has configuration management.

How does this work currently?

[2018-08-13 18:28] ChackDan commented on #249
Yes, We have  improvements that we are making on the service at all times. We claim the features once they are stable and are also available on the SF SDK.

[2018-08-13 18:32] ChackDan commented on #233
@tbertenshaw @mholo65  :  understood.  Thankyuou for you guys being patient with us.

[2018-08-14 08:12] #249 closed

[2018-08-14 08:15] tbertenshaw commented on #249
Are any of these SDK fixes for on prem dev clusters close? Or for beta testing? I assume these fixes will come in the sdk rather than the Visual studio tooling?

[2018-08-14 16:19] ChackDan commented on #261
Love the word "SF Meshed". I am not sure what you mean my your own SF mesh environment. If the intent is that you need more quota to test out sevices, to get ready to take production traffic, then email me at chackdan@microsoft.com.   I should be able to help.

Also, during the preview, (once we enable the secrets resource and secure ingress - ETA Oct/2018), if you feel you are ready to take your

[2018-08-14 16:41] ChackDan commented on #262
Only a small subset of the features are enabled in preview today, like the resources,  Env variables, capacity, replicas etc can be configured for a deployment today. The overview document you refer to is the features we are working on to enable in the coming months. some the features like deploying across AZs is prioritized after  the key features like secrets, Routing rules come in.

[2018-08-14 19:00] ChackDan commented on #259
"Bring you own Vnet" capability is planned to come in around OCT timeframe. At that time the network resource will have configurations that will allow for this capblity to be requested.

You are right, the current Mesh network resource is not the same as the networking capabilities that  Azure Networking provides.  We are working with Azure networking to enable BYO-VNET integration. The current Me

[2018-08-14 19:11] heymega commented on #259
That's sounds awesome!

Keep up the good work Chacko

[2018-08-14 19:11] #259 closed

[2018-08-14 19:13] murdockcrc commented on #258
@dbreshears : I will upload a dmp file from the stuck VS process to a private blob storage and send you the link to it for debugging. Will share by email. Thx

[2018-08-14 20:25] tomkerkhove commented on #244
Any update on this @mattrowmsft?

[2018-08-14 20:55] dbreshears commented on #258
Ok.. I'll see if I can repro with that scenario.   Also,  I think we released 15.8 today or release is in process, can you try that version in case a bug fixed in underlying project system.

[2018-08-14 20:58] ChackDan commented on #249
yes, some of these fixes are in the 6.3 CU1 release. The rest of them are in the next release 6.4 that is planned for Sept/2018.

[2018-08-15 21:38] mattrowmsft commented on #244
@tomkerkhove  sorry about delay.  Sorry I missed this previously, there is a bug where we require tags on container images still.  There is a different bug that caused this failure to not get messaged back.  The messaging on this should improve within the next week.  Not requiring tags will take 2-3 weeks I think.

Can you try with image set to redis:4.0.11 or something similar?

[2018-08-16 07:35] tomkerkhove commented on #244
No problem! I was just following up on this.

I've tried adding the image tag but it still fails.

### Deployment info
- **Correlation id:** `babb2836-fee5-4e79-8c6e-f4b3daaeb05d`
- **Template :** https://containo.blob.core.windows.net/mesh-deployment/issues/244/service-fabric-mesh-orders-declaration-v2.json

[2018-08-16 20:28] mattrowmsft commented on #244
Containo-Orders-Cache service is referencing network under old namespace.  Sorry not having these details passed back makes this process way more difficult than it needs to be.  Fixes coming soon!

[2018-08-17 06:46] tomkerkhove commented on #244
Wow good point, sorry for that! This fixed my issues, thanks for having a look @mattrowmsft!

[2018-08-17 06:46] #244 closed

[2018-08-17 07:25] mattrowmsft commented on #244
Glad that worked, good news is that all these messages should have shown up in the statusDetails field of application. Fix should be rolled out soon!

[2018-08-17 07:29] tomkerkhove opened #263 "az mesh code-package-log get fails with 'ClientRequestError' object has no attribute 'response'"
When I run `az mesh code-package-log get` it fails but is probably related to #115.

_Note - I use replica-name 0 because of #115 so I have to guess_

### Full Command
`az mesh code-package-log get --app-name containo-orders --code-package-name Containo-Orders-API-Host --replica-name 0 --resource-group containo-apps --service-name Containo-Orders-API`

### Error
[code]

[2018-08-17 07:30] tomkerkhove opened #264 "Linux Environment variables with '=' are not passed correctly"
_**Disclaimer:** This is initial thinking based on what I've seen but it might be a side-effect_

I was running my [tomkerkhove/containo](https://github.com/tomkerkhove/containo) sample on Service Fabric Mesh which uses Azure Storage but suddenly it started throwing the following exceptions:

Microsoft.WindowsAzure.Storage.CloudStorageAccount+<>c.<Parse>b__97_0(string err)

### Analysis
When runni

[2018-08-17 17:30] linggengmsft commented on #115
Could you run it with "--debug" in the end and paste us the output?
Also please run "az mesh service list --app-name containo.orders -g containo-apps" and see how this works.

[2018-08-18 16:04] tomkerkhove commented on #115
With pleasure - Hope this helps!

### Service-Replica List
#### Command
`az mesh service-replica list -g containo-apps --app-name Containo-Orders --service-name Containo-Orders-API --debug`

#### Output
[code]

### Service List
#### Command
`az mesh service list --app-name containo-orders -g containo-apps --debug`

#### Output
[code]

[2018-08-19 12:49] RonnyA opened #265 "Bug: Service Fabric tools - Service.yaml - Must be aware of regional settings (decimal operator)"
Reproduce:  This quickstart https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-quickstart-dotnet-core
Regional settings: Set decimal separator to "," (not ".")

My regional settings are Norway, and here we use "," not "." for decimal separator

In Services.yaml the default value was 0.5 for cpu. Changing this to 0,5 or 1 (no decimal) made the solution to compile.

Also

[2018-08-20 07:03] tomkerkhove commented on #264
In order to fully isolate everything, I've updated the troubleshoot image with an [environment variable controller](https://github.com/tomkerkhove/containo/blob/mesh-issues-env-variables/src/Containo.Services.Orders.Api/Controllers/EnvironmentController.cs) which just reads the value and gives it to the client.

Deployed this new version with the same template which you can try it here: http://51.

[2018-08-20 12:59] MikkelHegn commented on #134
@MedAnd - If the goal is some sort of platform agnostic definition languages, I would consider Terraform or Pulumi providers to be better candidates, as these are designed to be that, and not a descriptive language for a specific orchestration / container run-time. Our experience with compose support in Service Fabric, is that it provides an easy move, but you very quickly want to get to the primi

[2018-08-20 14:10] MedAnd commented on #134
@MikkelHegn - I'm following Terraform (at present still lacks on-prem and cross cloud Service Fabric support) and Pulumi (have been in touch with the guys to recommend Service Fabric support) closely :relaxed: but above is more about how can I run existing docker + compose container solutions on Service Fabric Mesh without any developer intervention and without having to fork/own the open source i

[2018-08-21 12:12] tomkerkhove commented on #264
Tagging @ChackDan as this is a pretty crucial bug at the moment

[2018-08-21 17:31] ChackDan commented on #264
@BharatNarasimman  and @VipulM-MSFT  Could you please follow up on this

[2018-08-21 20:17] MikeChristensen opened #266 "Error when trying to publish mesh application, "Unable to edit or replace'test': previous deployment is still active""
I'm attempting to use Service Fabric Mesh to deploy a container based app. I'm new to Mesh, but I did get the sample 'Hello App' working. Now I'm trying to deploy an app based on a container I have stored in Azure. I used the following command to deploy this:

az mesh deployment create --resource-group MikeMesh --template-file test.json

The command says 'Deploying . . .' for about 10 minutes, and

[2018-08-22 19:05] murdockcrc opened #267 "There was an error during download. Container deployment is not supported on the node"
I am trying to debug a SFM application on Visual Studio on my local host. When I run the app in debug mode (F5), VS tries to deploy the app to the local 5-node cluster, but the deployment fails:

[code]

SFX shows the following error:
[code]

Local versions:
* SF runtime: 6.3.12.9494
* SF Mesh SDK: 3.2.162.9494
* SF SDK: 3.2.162.9494
* Docker: 18.06.0-ce, build 0ffa825

Can someone please provide

[2018-08-22 19:10] tomkerkhove commented on #267
Just to verify - Are you deploying windows container on your local cluster? Linux containers are not supported atm.

[2018-08-22 19:36] heymega commented on #267
The SF Mesh documentation recommends running your local cluster on a single node.

"For the best debugging performance when you create and run Service Fabric apps, we recommend creating a single-node local development cluster"

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-sdk

I wonder if there is some issues or downsides to runni

[2018-08-22 19:49] murdockcrc commented on #267
Don't know, I'll need to reset my cluster to a 1-node cluster. Will give that a try later. Thx

[2018-08-23 01:03] MikeChristensen commented on #266
[More info](https://github.com/MicrosoftDocs/azure-docs/issues/13830)

[2018-08-23 08:18] tbertenshaw commented on #233
Assume the latest 6.3CU1 isn't supposed to resolve this issue? As it still seems to be present for me after installing.
Incidentally when this is addressed what is the solution likely to be in the form of? the SDK? the VS tooling or the Service Fabric runtime?

[2018-08-24 22:03] mattrowmsft commented on #264
FYI I think we have identified issue. B\c of where the bug is in the stack it will probably take 1-2 weeks to get fix rolled out.  If it's possible in your specific scenario to split the env variable value around the '=' character that could work for now.

[2018-08-26 10:40] tomkerkhove commented on #264
Thanks for having a look - I'll wait until the fix is there and test it then. Feel free to let me know if I can help any further!

[2018-08-28 18:16] davemedvitz opened #268 "Attach network to VNet/Network Interface instead of public IP"
One of our big drivers to using SF was the ability to keep the networking internal, as a large majority of our apps are intranet based.  It would be great if we could do the same with SFM by configuring the Ingress configuration to a VNet or Network interface resource.

[2018-08-29 15:55] eiximenis opened #269 "No way to see logs of failed deployment through CLI"
Hi!
Is there any way to see the logs of why an application fails to deploy?

I am trying to deploy a two **windows** containers application in SF Mesh, but no luck.

Using `az mesh app show` gives me following information:

[code]

Using `az mesh code-package log` no info is shown (just an error about  `'ClientRequestError' object has no attribute 'response'` on both services)

Using Azure portal

[2018-08-29 18:13] mattrowmsft commented on #269
There is a bug currently where the application's statusDetails field is getting overwritten with null so that the useful debugging message is lost.  The fix is currently flighting in our test region.
I checked logs for your application and you hit a bug in the Mesh service related to disk space for images on our underlying infrastructure.  Fix for this is also in test region to be released soon.

[2018-08-29 20:33] MikeChristensen commented on #266
Referencing @MicahMcKittrick-MSFT

[2018-08-29 20:34] MicahMcKittrick-MSFT commented on #266
@BharatNarasimman would you be able to help get someone to assist @MikeChristensen?

I worked with him on a doc related question #13830 but I was not seeing the same behavior so think he should work directly with all of you to get it sorted out in case it is an issue with Mesh itself.

[2018-08-30 01:25] csdahlberg opened #270 "Error loading Microsoft.VisualStudio.Azure.SFApp.VsShellShim when creating a new Service Fabric Mesh Application project"
I just installed the Service Fabric Mesh SDK (version 3.2.176). I have Visual Studio 2017 Community Edition (version 15.8.2) installed. When I try to create a `Service Fabric Mesh Application` project, I get the following error:

[code]

Is there any additional information I can provide that might be helpful?

[2018-08-30 04:27] ChackDan commented on #233
it would be a new SDK corresponding to the release 6.4 ETA third week of Sept.

[2018-08-30 05:05] ChackDan commented on #264
Thankyou Tom. Will do .

From: Tom Kerkhove <notifications@github.com>
Sent: Sunday, August 26, 2018 3:41 AM
To: Azure/service-fabric-mesh-preview <service-fabric-mesh-preview@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/service-fabric-mesh-preview] Environment variables are not passed correctly (#264)

Thanks for having a

[2018-08-30 07:27] eiximenis commented on #269
Hi @mattrowmsft. Thanks for quick reply.

So, if I understood correclty I need to wait for the fix to be applied isn't it? Is there an estimated ETA?

Thx!

[2018-08-30 08:09] tbertenshaw commented on #233
don't suppose there is a preview of this or a unpleasant workaround i could utilise, so i can start evaluating it again prior to this release?

[2018-08-30 16:52] suhuruli commented on #269
You can also delete and create again

[2018-08-31 07:30] johnnyhuy opened #271 "No Content in Mesh Code Container Logs"
Greetings,

I've followed this [Set up your Windows development environment](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-sdk#build-a-cluster) guide to deploy a generic application to my local cluster.

Using the template from the Visual Studio plugin, the app properly launches in my browser. However, I can't seem to find containe

[2018-09-01 01:47] csdahlberg commented on #270
It appears to be installed:

[code]

Yes, I installed it recently. About two hours before opening this issue.

[2018-09-04 00:20] #270 closed, assigned to sgreenmsft

[2018-09-04 22:25] vyta opened #272 "Support for Custom VNETs"
SF Mesh should be able to integrate with custom vnets.

[2018-09-04 22:26] vyta commented on #272
@ChackDan

[2018-09-04 22:33] vyta opened #273 "Support for Managed Service Identities"
SF Mesh should support AAD MSIs

@ChackDan

[2018-09-04 22:36] vyta opened #274 "Secure endpoints for SF Mesh Applications"
Application endpoints on SF Mesh should be easily secured with HTTPS

@ChackDan

[2018-09-04 22:43] ChackDan commented on #274
yes, this is in the pipeline. Plan to show this off at the Microsoft  ignite conference (in Sept) and then we would add it to the preview soon after.

[2018-09-04 22:47] ChackDan commented on #273
Thankyou for adding the two features for security (SSL termination and MSI support). yes, MSI support is planned for later this year. Stay tuned.

[2018-09-04 22:59] vyta commented on #272
#268

[2018-09-05 00:18] ChackDan commented on #272
Thankyou. Bring your own Vnet is the backlog and we are working on enabling it.

[2018-09-11 05:35] SamirFarhat commented on #272
Hi,
I have noticed recently that the Microsoft.ServiceFabricMesh/networks is present in the Delegation list at the VNET Subnet blade. Looks like the Delegation feature will allow delegating a subnet to a Service, and SFM in one of them. Nic
![image](https://user-images.githubusercontent.com/14938496/45339980-01d08f00-b595-11e8-8da0-4a35f99749e7.png)

[2018-09-11 05:40] SamirFarhat commented on #18
Hi,
We really need a way to do that. For example, we plan to add an Nginx controller that will work inside SMF. The problem is that we will be unable to configure it post deployment. What is your approach today ?

[2018-09-12 20:41] MikkelHegn commented on #154
The Service Fabric Mesh application model doesn't know about services as independent entities. The top level resource is Application and you will not find e.g. Deploy Service APIs in the runtime. So whatever hits the cluster or service will have to be an application, which is similar to the concept most of you know from the Service Fabric Native model we have today.

This doesn't mean that you can

[2018-09-13 11:42] JohanSellberg opened #275 "FormatException when Service Fabric Mesh is setting up."
Hello, I am trying hte new Service Fabric Mesh Preview by doing the hello world and the Quickstart tutorial.

The Hello World works great for sure but trying the quickstart guide for a web app I get error when I open the project and Service Fabric mesh is initiating. Later if I try F5 it fails without any visible error message.

Here is the output I get on startup:
`========== Checking for Contain

[2018-09-14 04:21] AceHack opened #276 "Envoy partitioning open source?"
Will the code used to setup Envoy to create partitioning be open sourced?

[2018-09-14 04:33] AceHack commented on #103
Any update?

[2018-09-14 06:30] MikkelHegn commented on #103
Summer went and now it's soon Ignite time... We expect to show our first preview at Ignite and release it with the next run-time release.

[2018-09-14 13:48] marcoparenzan opened #277 "Mesh deployment"
I'm trying to deploy a mesh application. After looking into other issues here, trying multiple ways to deploy, this is the current error message I cannot solve, trying to launch deployment from command line.

Command:
az mesh deployment create --resource-group webotronic --template-file template.json --parameters "{'location': {'value': 'eastus'}, 'registryPassword': {'value': 'password'}}"

error

[2018-09-15 00:01] mkosieradzki commented on #27
I was able to run this image on SFM - it took around 14-16 minutes to start, but it works correctly now. I am surprised that this base image is not cached somewhere closer... :-(

[2018-09-15 00:03] mkosieradzki commented on #276
It already is see: https://github.com/Microsoft/service-fabric-reverse-proxy/blob/master/sfintegration/Controllers/v1.cs

[2018-09-15 07:38] tomkerkhove commented on #264
Is there an update on this?

[2018-09-15 19:41] mattrowmsft commented on #264
The next major update will switch Linux container runtime and we have verified that it doesn't have same issues.  Tune in to Ignite.

[2018-09-17 08:06] MikkelHegn commented on #277
Did you provide registry credentials for the images? See an example here: https://github.com/Azure-Samples/service-fabric-mesh/blob/fd86665d5cf9fbf783e034e166e61ef8dfec5999/templates/helloworld/mesh_rp.private_registry.linux.json#L70

[2018-09-17 08:08] #276 closed

[2018-09-17 08:14] MikkelHegn commented on #275
This is a know issue with the SfSbzYamlMerge.exe not honoring regional settings. Check here: https://github.com/Azure/service-fabric-mesh-preview/issues/131

[2018-09-17 08:17] MikkelHegn commented on #271
Fro dead containers logs - see here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-view-logs#access-the-logs-of-a-dead-or-crashed-container

Based on your update, I'm not clear if you are still not seeing the logs from a consistent running container either locally or in Mesh? Can you please clarify - thanks :-)

@srrengar to comment on availability of dead contain

[2018-09-17 08:19] MikkelHegn commented on #265
Thanks for reporting this, it's a known issue being tracked here: https://github.com/Azure/service-fabric-mesh-preview/issues/131

[2018-09-17 08:41] MikkelHegn commented on #252
Great question :-) As you point out, as Mesh is agnostic to what you run, there are a few different paths we are working on enabling with the tooling support.

Any container you already have built, you can deploy via an ARM template using existing Azure RP clients (PowerShell, CLI, SDKs and REST). Recently a VS Code extension also emerged: https://marketplace.visualstudio.com/items?itemName=mfery.

[2018-09-17 08:50] MikkelHegn commented on #251
Did you go to SFX? Ther should be a Health warning on the application. (Use the Local Cluster Manager tool to open the cluster).

There could be multiple reasons, one is if the SF cluster was created without docker running, it would detect that it cannot support containers.

[2018-09-17 08:51] MikkelHegn commented on #245
Did you try it out and have any feedback?

[2018-09-17 09:08] MikkelHegn commented on #243
As @tomkerkhove pointed out environment variables are available today, but we still need an easy way to provide a different set of configs to the deployment artifacts (whether you work with ARM or the yaml files.) For ARM you do have a parameter concept, but we are considering the same for the yaml files.

For ports, these are the design goals:
- Each services has a unique IPs inside the network t

[2018-09-17 09:18] MikkelHegn commented on #158
Missed this @tomkerkhove - yes a script to do somethign, then the ARM deployment.

The concept sounds similar to what's the SetupEntryPoint (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-model-schema-elements#setupentrypoint-element) in Service Fabric Native applications today. We will look in to how this could be supported.

[2018-09-17 09:20] MikkelHegn commented on #150
@plooploops Did you verify this is due to the environment variable? Have you changed the code to use it? If so, is the container crashing?

[2018-09-17 09:30] MikkelHegn commented on #266
@vaishnavk

[2018-09-17 10:51] JohanSellberg commented on #131
I tried changing the dot to a comma as @mholo65 showed and that did pass the `SfSbzYamlMerge.exe` step.

But then it says that ServiceFabric failed to deploy.

Looking in the Event Viewer it gives the FormatException with the comma. Only way for me to succeed was to change it to 1 cpu to get rid of the decimal problem.

[2018-09-17 11:16] MikkelHegn commented on #131
@JohanSellberg - thanks for the info. We will get this fixed in an update soon.

FYI: The SfSbzYamlMerge.exe outputs a JSON file which get's posted to the local cluster endpoint. Can you share what's in the JSON file? The output folder is the one specified by the /o: parameter

`/o:"C:\Users\mb\src\ServiceFabricMesh1\ServiceFabricMesh1\obj\SFApp"`

[2018-09-17 16:55] srrengar commented on #271
Currently we don't offer a way to grab crash dumps or dead container logs. This is forthcoming.

[2018-09-17 16:58] srrengar commented on #201
@mattrowmsft what details does the RP provide upon deployment failures?

[2018-09-17 18:22] mattrowmsft commented on #201
This should be better now.  We recently rolled out support for ARM async operations which allows ARM deployments to track success/failure of individual operations and provide detailed information on them.  Please reopen if you are still seeing generic messages.

[2018-09-17 18:22] #201 closed

[2018-09-18 06:55] JohanSellberg commented on #131
I am not sure how this local deploy process works.. Here are the steps I took and the outputs:

I first changed back to the comma and pressed F5 I then get the failed to deploy as previously mentioned.
The exact eventlog message even if some is in swedish:
[code]

But the output folder had not updated. the json file had 1.0 for cpus. as the last sucessfull.

I then closed the project and reopened

[2018-09-18 07:40] MikkelHegn commented on #131
Thanks @JohanSellberg @anantshankar17, can you please help look in to this?

[2018-09-18 12:05] anantshankar17 commented on #131
Hello @JohanSellberg
If the output json has a "." then it should get deployed. Can you look at the "output" tab in VS, and in that "Show Output from "Service fabric Tools"" and copy paste the execution info from there ?
Also service fabric traces from C:\SfDevCluster\Log\Traces will also help.

[2018-09-18 13:45] JohanSellberg commented on #131
Sure here is my information from the Output when using , in the yml file:

[code]

As you see in the end it still fails even if it has changed it to a dot. And when I check the error message (could only find error message in the EventLog). I can see that the error is still FormatException. As previously posted the error is:

[code]

So when I use , the yml file works as expected. But ApplicationMa

[2018-09-19 06:05] anantshankar17 commented on #131
Can you manually execute the cmd and collect the cluster traces and share them ?

C:\WINDOWS\sysnative\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "import-module 'C:\Program Files\Microsoft SDKs\Service Fabric\Tools\Mesh\Scripts\PSModule\ServiceFabricHttpPSModule.dll'; Connect-SFCluster -Endpoint http://localhost:19080; .'C:\Program Files\Microsoft SDKs\Servic

[2018-09-19 06:54] JohanSellberg commented on #131
Well if you look close the second EventViewer Message it isn't the json, it is `ApplicationManifest.xml` But I guess that is somehow generated from the json? And there is Format Convert problems there?
I will try run the command later during the day.

[2018-09-19 07:14] marcoparenzan commented on #277
Yes, added. Comparing with your template, in the imageName ("image": "marcoparenzandemos.azurecr.io/webotronicwebapp:20180914143730") there is no registry name.
And then I have a more detailed message:

Reason Code package 'WebOTronicWebApp' has invalid image name: image 'webotronicwebapp:20180914143730' is not on server 'marcoparenzandemos.azurecr.io'

If you want I can send you credentials and t

[2018-09-19 07:31] marcoparenzan commented on #277
20180914143730: Pulling from webotronicwebapp
Digest: sha256:bd9038602f0df9bc5e33742c99f88dae9302cd2affe5ec24e358a999b4b2fe4b
Status: Image is up to date for marcoparenzandemos.azurecr.io/webotronicwebapp:20180914143730

[2018-09-19 07:36] MikkelHegn commented on #277
Ok - and can you confirm the image is in the registry? E.g. https://docs.microsoft.com/en-us/cli/azure/acr/repository?view=azure-cli-latest#az-acr-repository-list

[2018-09-19 07:39] marcoparenzan commented on #277
C:\Users\marco>az acr repository list -n marcoparenzandemos
[
  "webotronicwebapp"
]

C:\Users\marco>az acr repository show --repository webotronicwebapp --name marcoparenzandemos
{
  "changeableAttributes": {
    "deleteEnabled": true,
    "listEnabled": true,
    "readEnabled": true,
    "writeEnabled": true
  },
  "createdTime": "2018-09-14T12:43:14.0984269Z",
  "imageName": "webotronicwebapp",

[2018-09-19 07:41] marcoparenzan commented on #277
"codePackages": [
                                {
                                    "name": "WebOTronicWebApp",
                                    "image": "webotronicwebapp:20180914143730",
                                    "endpoints": [
                                        {
                                            "name": "WebOTronicWebAppListener",

[2018-09-19 07:43] MikkelHegn commented on #277
I see no obvious reason why the docker daemon in Mesh cannot find the image in your registry. Can you provide the resourceID of the app and the region you deployed to? @mattrowmsft to help look at service side traces.

[2018-09-19 07:50] marcoparenzan commented on #277
The mesh resource is not created. I can send you privately tto your email the script and the credentials to publish from my image registry

[2018-09-19 07:50] marcoparenzan commented on #277
east us

[2018-09-19 08:03] MikkelHegn commented on #277
Ok - please do that: mikhegn@microsoft.com

[2018-09-19 08:53] anantshankar17 commented on #131
I would still need the cluster traces to makeout what is not working correctly. Can you please share the traces ? For now I would suggest you to not use the comma, until we figure out what all is not working. In the meantime we will try to repro this locally to debug faster. The locale that you have is fi-FI, right?

[2018-09-19 09:03] JohanSellberg commented on #131
Not fully sure how to check locale but should be sv or sv-SE since its swedish.
How can I see traces? The command did not output anything in cmd window.

[2018-09-19 09:05] anantshankar17 commented on #131
You would find the traces here: C:\SfDevCluster\Log\Traces

[2018-09-19 13:43] ai2admin commented on #250
This extension requires Visual Studio Code. Is there a version that works with Visual Studio Professional?

[2018-09-19 14:10] ai2admin commented on #257
@MikkelHegn it's not about an old failed deployment. Every time that I try to create a _new_ deployment on a brand new resource group, it fails for the _this_new_ deployment:

C:\>az mesh deployment create --resource-group al-arasMesh180919 --template-file C:\Examples\HelloMeshAttempt\mesh_rp.windows.json
Deploying . . .
Please provide string value for 'location' (? for help): eastus
Unable to edi

[2018-09-19 15:58] MikkelHegn commented on #250
The Service Fabric Mesh SDK preview and VS extension for Mesh, which eventually will also support debugging .net apps in containers. But if all you need is the arm template to deploy, the VSCode extension will give you that.

[2018-09-19 17:36] ai2admin commented on #250
@MikkelHegn is there a manual on how to use it? E.g. I type "Service Fabric Mesh: Create Application" and hit [Enter] in the command and it gives me a couple of errors saying "Please open a workspace directory first" and "Path must be a string. Received undefined", but it's cryptic. How do I know what, where and how to set up as the command input?

[2018-09-19 19:31] MikkelHegn commented on #250
Please check this repo: https://github.com/michaelfery/vscode-sf-mesh-tools @michaelfery (the author) can help.

[2018-09-19 19:34] ai2admin commented on #250
@MikkelHegn,  yes, I saw the repo. How do I diagnose the error that I'm given?

[2018-09-19 19:37] MikkelHegn commented on #250
There is one issue opened over there in regards to create application: https://github.com/michaelfery/vscode-sf-mesh-tools/issues/7 If that's not what you see, please open an issue in that repo.

I do remember that you need to have a folder open for that to work. You can try to fall back to the yeoman generator, which the extension relies on: https://github.com/michaelfery/generator-azuresfmesh

[2018-09-19 23:19] johnnyhuy commented on #271
Hey guys,

I was always able to view logs from a running container on both in a local cluster and Mesh. Though it’s fairly tricky to catch dead container logs.

I’ve come to the conclusion to use a cluster instead. However, I’m guessing we’ll be using something similar to the Service Fabric explorer to diagnose container logs?

[2018-09-20 10:41] ibuildit commented on #202
I'm seeing this error running latest 20 august release:
https://github.com/Azure/service-fabric-issues/issues/803

This might be why the resolving isn't working for you guys... if your cluster DNS is down.

Neither votingdata or votingdata.votingapp works for me. My code works if I temporarily hardcode in the IP adress and don't use resolve so the basic HTTP comm is working, but DNS is completely

[2018-09-20 11:55] michaelfery commented on #250
A PR for adding an explicit error when no workspace is opened has been merged in michaelfery/vscode-sf-mesh-tools#10

[2018-09-20 12:33] ibuildit commented on #202
I deactivated / reactivated hyper-v with the included reboots, and after this the DNS error is gone, port sharing issue does appear to be fixed. How ever, it is still not resolving the hostnames for me.

[2018-09-20 13:05] ibuildit commented on #202
In the cluster setup script I changed this line to FALSE
$usingMachineName = $False
which means that SF will use "localhost" rather than your computer name, which works in the browser and resolves to SF cluster on what ever port. This actually solves the DNS resolving issue for me.

Instead I'm blessed with this: A connection with the server could not be established 👯‍♂️ haha

[2018-09-21 11:49] ibuildit opened #278 "Internal HTTP communication does not work on local cluster, possible .Net Core bug"
The Votingapp works great when deployed to Azure. It does not work for me locally.
I get the same experience when creating 2 API services and try to talk to them over HTTP.
Have tried both the code from voting app as well as spun up 2 services and used RestSharp.

Basically, http://localhost:20002/api/pnl works in the browser (the backend service).
I can even use the servicename.appname instead of

[2018-09-21 12:29] ibuildit commented on #242
You can use localhost.

C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup edit the DevClusterSetup powershell script,
edit this line

# Always use MachineName
$usingMachineName = $False

Now it will use localhost instead of your computer name, which never worked for me and resulted in nasty DNS issues

[2018-09-23 09:08] tomkerkhove commented on #245
I did not give it a try before, sorry!

[2018-09-23 09:10] tomkerkhove commented on #158
That's great, thank you!

[2018-09-24 04:33] amang2205 commented on #233
+1 - still not working. :-(

[2018-09-24 14:19] ChackDan commented on #233
Sorry, 6.4 is still being tested in our staging and test regions. we found regressions with the new features in the runtime and so at this time I do not have an ETA on the release. I hope we are able to release it in the new few weeks.

[2018-09-25 18:48] mcollier commented on #257
When I've encountered this issue. it appears to be related to a potential timeout setting with the _az mesh deployment create_ CLI command (in my experience is about 10 minutes).  If I wait longer, and check the Azure portal, the deployment eventually completes (~20-30 minutes).

[2018-09-27 16:46] mattrowmsft commented on #277
If you are using a register server besides dockerhub, then you have to specify it as part of the image name.  It sounds like our docs were missing this and causing the confusion.  It sounds like this can be closed now.

[2018-09-28 09:42] benc-uk commented on #77
Any update on Layer7 ingress support? Or some form of path based routing? The [announcements at Ignite](https://azure.microsoft.com/en-us/blog/azure-service-fabric-updates-at-ignite-2018/) mention "Network and Gateway resources enable multiple-ingress and routing"

However I can't find any examples or docs to support this

[2018-09-28 11:50] markheath commented on #163
would also be nice if there was an easier way to specify parameters when calling the azure CLI from powershell as it's really painful to properly escape the json.

Something like
[code]
would be good

[2018-09-28 11:59] teun2408 opened #280 "The service fabric mesh SDK link is broken"
The SDK link from the "Set up your Windows development environment to build Service Fabric Mesh apps" (https://webpihandler.azurewebsites.net/web/handlers/webpi.ashx/getinstaller/MicrosoftAzure-ServiceFabric-SDK-Mesh.appids) seems to be broken. It links to this url: https://webpihandler.azurewebsites.net/web/handlers/webpi.ashx/getinstaller/MicrosoftAzure-ServiceFabric-SDK-Mesh.appids which return

[2018-09-28 15:05] benc-uk opened #281 "Mount external storage volumes without Azure Files"
The current way to map/mount persistent external storage uses Azure Files and therefore SMB, there are platforms and technologies that can't support this, [for example MongoDB simply refuses to start](https://www.google.co.uk/search?q=Mongo+SMB+wiredtiger) as they expect direct and lower level filesystem access

In Kubernetes this is not a problem as Kubernetes supports Azure Disks, and you can ea

[2018-09-29 22:03] teun2408 commented on #280
The link is working again, thanks!

[2018-09-29 22:03] #280 closed

[2018-09-30 08:13] SamirFarhat commented on #281
Suppose you can mount a disk. How the HA will be managed? Even in AKS, this is not supported.

[2018-09-30 15:30] benc-uk commented on #281
I have HA services running in AKS using PVC.
Kubernetes moves the storage to the node when the container/pod moves to a different node, and you can use sidecars to make sure replication happens

[2018-10-02 10:13] nforss commented on #131
I'm having the exact same problem. Did you find a solution?

[2018-10-05 12:56] askew opened #282 "Mesh Resource Provider is listing deleted networks"
I’ve noticed that in my internal subscription there are a couple of SF Mesh networks that are reported by az mesh, that are in resource groups that have been deleted.

If I don’t have any Mesh deployments in my subscription `az mesh network list` shows nothing …

    stephen@Azure:~$ az mesh network list
    []

If I now deploy an application that has one network, then run this again

    stephen@

[2018-10-08 19:11] amolenk commented on #277
I'm not sure this can be closed yet @mattrowmsft @MikkelHegn

I’ve got a sample app which used to deploy perfectly (early September), but now fails with the following message: “Request is invalid. Reason Code package ‘FrontEnd’ has invalid image name: image ‘teamassembler-frontend:v1’ is not on server ‘amolenk.azurecr.io’..”

The image is definitely in the registry (no error when I pull it manuall

[2018-10-08 20:27] MikkelHegn commented on #277
Marco and I did some troubleshooting offline. In his case it was the image reference.

For you sample @amolenk, the image element has to be:

`"image": "amolenk.azurecr.io/teamassembler-frontend:v1"`

Looking at the doc referenced above, this portion describes the use of the container registry name:

frontEndImage | The container image for the front end service.  For example, ".azurecr.io/seabreez

[2018-10-09 06:34] amolenk commented on #277
Doh! Yeah, that's it.
I'm wondering though why this is now necessary. Isn't it redundant to have the registry server both as part of the image name and in the `imageRegistryCredential/server` element?

[2018-10-09 08:31] MikkelHegn commented on #277
You could argue that, but it follows how the docker api's work today. If you have no registry defined as part of the repository, the docker daemon will default to the default registry setting in the docker daemon.

[2018-10-09 08:31] #277 closed

[2018-10-10 03:03] srrengar commented on #271
Yes there will be an experience in the portal for this

[2018-10-10 03:03] #271 closed

[2018-10-11 12:16] neilrees opened #284 "Deployed mesh application has become unresponsive"
We are unable to make contact with an application we have deployed.  The application has been working fine, but stopped responding overnight UK time.

We are unable to connect to the listening port (443) defined in the service.

The Mesh service page in Azure Portal hangs on the "loading" image:
![image](https://user-images.githubusercontent.com/282424/46803156-4ea3b300-cd57-11e8-854c-014c6f507f73

[2018-10-11 15:49] mholo65 opened #285 "Enabling binarylogger fails the build"
Steps to reproduce:
1. Clone the [samples repo](https://github.com/Azure-Samples/service-fabric-mesh)
2. Open developer command prompt
3. cd to `todolistapp`
4. run `msbuild /t:build /p:configuration=Release;platform="Any Cpu" /bl`
 This will give following errors:
[code]

Removing the `/bl` switch from the `msbuild` command int step 4 will result in an successful build, and docker images are crea

[2018-10-11 19:17] KirillOsenkov commented on #285
Any chance you could email or PM me the binlog? Thanks!

[2018-10-11 19:35] mholo65 commented on #285
@KirillOsenkov sure, sent you DM on Twitter.

[2018-10-11 20:27] mholo65 commented on #285
:+1: and binlog is in your inbox.

[2018-10-11 20:49] KirillOsenkov commented on #285
More repro steps:

1. Install docker for windows: https://store.docker.com/editions/community/docker-ce-desktop-windows
2. Install https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-sdk
3. Install the VSIX: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.ServiceFabricMesh

[2018-10-11 21:02] KirillOsenkov commented on #285
Seeing this stack when running the task:

[code]

[2018-10-11 21:13] KirillOsenkov commented on #285
OK this is because the BinaryLogger by default creates a temporary file msbuild.ProjectImports.zip in the current directory (where msbuild was invoked from) and keeps it open for the duration of the build. Docker trying to access that and failing.

Workaround: `msbuild /t:build /p:configuration=Release;platform="Any Cpu" /bl:C:\outsidelocation\msbuild.binlog`

If you specify an absolute path for t

[2018-10-11 21:14] KirillOsenkov commented on #285
@sgreenmsft mentions that another workaround would be to add `MSBuild.ProjectImports.zip` and `msbuild.binlog` to  `.dockerignore`

[2018-10-11 21:19] mholo65 commented on #285
@KirillOsenkov thank you for your help, really appreciated! I’ll close this issue as it’s not a problem with Service Fabric Mesh.

[2018-10-11 21:19] #285 closed

[2018-10-12 10:07] heymega opened #286 "Service Instance ID for Logging"
Is it possible for a service instance to know its own instance ID?

My services are logging to `Application Insights` and I would like to set the `Cloud Role Instance'

I would have thought the instance would have been injected as an environmental variable in the container but I can't find any docs on it.

Thanks in advance.

[2018-10-13 05:36] gattila opened #287 "Project file is incomplete bug during the project creation in VS"
I am not sure whether it is a local problem on my computer or not, but if I tried to create a new Service Fabric Mesh application in the Visual Studio, I always got the following message during the project generation: Project file is incomplete. Expected imports are missing. I also tried to open the sample projects (todolistapp, votingapp) with a similar result.

My system:
Visual Studio 2017 comm

[2018-10-17 13:34] ross-p-smith opened #288 "az mesh deployment timeout, works fine from Visual Studio"
I have a sample project that I can deploy from Visual Studio and everything works fine. If I deploy the same generated ARM template from the cli to a different Resource Group, initially the cli times-out after about 10 mins and then after 2 hours I get this in the portal.

"The resource provision operation did not complete within the allowed timeout period."

It is Windows Containers 1709

The com

[2018-10-17 19:10] gattila commented on #287
Reinstalling of the windows and the Visual Studio seems to solved the issue.

[2018-10-17 19:10] #287 closed

[2018-10-18 17:49] MikeChristensen commented on #266
Tried this again on Oct 18 - Still having same issue.  Anyone want to help with this?

[2018-10-18 18:45] jeffj6123 commented on #266
Can you try using the -n flag for the az mesh deployment create command, to see if you still have conflicts with existing deployments?

[2018-10-18 19:07] MikeChristensen commented on #266
Is `-n` the same as `--name`?  If so, I'm already using that parameter.  I've tried deploying into two resource groups, both are brand new and have never had any deployments, so nothing to conflict with.  The first deployment finally finished after 2 hours and 21 seconds, and gives me the error:

[code]

The second deployment is still in progress (it's been about an hour and a half).  I cannot fin

[2018-10-18 20:49] MikeChristensen commented on #266
Do you mean Mesh deployments?  Or Service Fabric deployments?  Or any sort of deployments of any sort?

Also, I can use a GUID for my deployment name if that would help.

[2018-10-18 23:37] jeffj6123 commented on #266
Any deployments that are still running that share that name over all your resource groups on that subscription.  a GUID should help with avoiding name conflicts.

[2018-10-18 23:50] MikeChristensen commented on #266
I doubt there's any deployment with that same name.  I'll try again and use a GUID.

[2018-10-18 23:51] MikeChristensen commented on #266
Running with command:

`az mesh deployment create --resource-group MikeMeshTest --name 52d74104a43d40f691bc56400085716e --template-file .\test.json`

[2018-10-23 14:05] markheath commented on #266
I get this same error every time I try to use `az mesh deployment create` to scale up one of my containers from 1 replica to 3 (based on the steps shown in the [tutorial here](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-tutorial-template-upgrade-app)). The command takes 10 minutes or so to time out and reports

[code]

The "previous" deployment appears to be refe

[2018-10-23 14:39] MikeChristensen commented on #266
Yea I'm starting to think this is a generic error that hides some _real_ error that's going on underneath.  I think the first thing they need to fix is their error handling, so we can see what's actually going on.

[2018-10-23 16:06] markheath commented on #266
OK, I've managed to narrow my issue down further. I get the timeout if I have >1 replica of a service with an endpoint. Scaling out services without endpoints to multiple replicas does appear to work, although the `az mesh deployment create` command still hangs indefinitely.

[2018-10-24 15:40] mkosieradzki opened #289 "Multiple networks associated with a single service"
I am trying to deploy SFM application with service connected to multiple networks (I am experimenting with micro-segmentation until Service Mesh is supported in SFM).

What I am observing is a GatewayTimeout. Is this a supported scenario? Is it going to be supported in next preview?

[2018-10-24 16:41] mattrowmsft commented on #289
This still has to be one to one between networks and services.  I think there is validation coming with the next release to make this more obvious.  Once the isolated networks/gateways demoed at Ignite are released, then scenarios like this will start to light up.

[2018-10-24 17:07] mkosieradzki commented on #289
@mattrowmsft Thank you so much! I see it now. This is pretty awesome solution - I see how to do 90% of Service Mesh features now using gateways!

[2018-10-24 17:07] #289 closed

[2018-10-25 14:40] srikanthshaps opened #290 "Service Fabric Mesh deployment issue using template"
I am attempting to deploy the linux container having python application inside from command line using the json template and I see 'unable to edit or replace deployment' error. The image is already there in ACR.

I have attached the template file that I am using to deploy
**[json_template.txt](https://github.com/Azure/service-fabric-mesh-preview/files/2515387/json_template.txt)**

I use the comman

[2018-10-25 16:40] jeffj6123 commented on #266
There is a bug that was causing the error "unable to edit previous deployment", there is a fix being worked on. But that error does not actually stop the deployment, you can also use this command for the same effect https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest#az-group-deployment-create it wont check for IP addresses of the mesh applications though.

As for you

[2018-10-25 16:43] jeffj6123 commented on #290
There is currently an issue with that error being thrown, even though there is no conflicting deployment. You should still be able to check if your resources were created. Starting with az mesh network show to get your IP address.

[2018-10-25 18:11] srikanthshaps commented on #290
The resources are created and I see deployment is underway for certain period. I waited for 3 hrs and it throwed time out error. I am able to deploy the image pre-built helloworld image but when I try to build the same image from source, I see these errors. I am wondering if I am building and deploying the image in correct way.

[2018-10-25 18:39] srikanthshaps commented on #266
I am facing same issue when I am trying to deploy the Linux container. When I use az mesh app show, it shows 'There was an error during CodePackage activation.Service host failed to activate. Error:E_FAIL'\r\n".

[2018-10-25 21:20] jeffj6123 commented on #290
There was a fix put up for the mesh cli. Could you try running
az extension remove -n mesh
az extension add -n mesh

This should stop the previous deployment error from showing if there wasnt one Also you can use  az mesh app show to get more information about the particular application resource.

[2018-10-25 21:22] jeffj6123 commented on #288
Within portal are you able to see what errors were getting thrown for the resources you were trying to provision? otherwise you can use the az mesh <resource> show commands to see.

[2018-10-26 12:55] teun2408 commented on #233
@ChackDan Do you have more information on the possible release date of the update?

[2018-10-29 02:10] gkhanna79 commented on #234
@tomkerkhove Which volume are you referring to and what state do you wish to view? Can you please elaborate?

[2018-10-29 07:14] tomkerkhove commented on #234
@gkhanna79 I'm referring to reliable collection state and the corresponding volume.

[2018-10-29 13:48] tomkerkhove commented on #264
I've tried this again and seem to be hitting the same issue. Is there an update on this @mattrowmsft?

[2018-10-29 15:47] gkhanna79 commented on #234
@tomkerkhove The VolumeDisk based upon reliable collections (i.e. SFvolumeDisk) looks like a regular disk that you can view using existing file exploration tools like Windows Explorer. Are you looking for something other than that?

[2018-10-29 15:57] tomkerkhove commented on #234
I would need to see how the structure is - If it's straight forward then it's ok but if it's not a tool would be good.

[2018-10-29 16:00] aloneguid commented on #234
@gkhanna79  @tomkerkhove SF volumes and reliable collections are not available in preview, how are you even using them?

[2018-10-29 16:05] gkhanna79 commented on #234
SFVolumeDisk will be part of SFMesh upcoming preview @aloneguid.

@tomkerkhove Can you please elaborate on the structure you refer to? SFVolumeDisk is a regular disk as far as OS is concerned and will look like any other disk.

[2018-10-29 16:17] tomkerkhove commented on #234
@aloneguid Not =)

@gkhanna79 	Reliable collections are glorified dictionaries, would I then have a folder which is the key with a file in it which is the value or?

[2018-10-29 20:18] srikanthshaps commented on #290
Thanks. I was able to deploy the application. I need to run the deployed application for every 5 minutes. how do I do that?

[2018-10-29 22:00] ChackDan commented on #233
I still do not have an ETA. We have now found issues with the isolated networks and traced the issue to the Windows Stack. and working on getting a fix from them, so that the runtime can be released.

[2018-10-29 23:02] jeffj6123 commented on #290
Do you mean automate the deployment, so that it redeploys ever 5 minutes?

[2018-10-30 02:51] gkhanna79 commented on #234
@tomkerkhove Not really. The disk is a block device, so that is what the dictionaries will have (blocks of data). The view, from a user standpoint, is not the dictionary entries but rather the disk made available to the storage stack.

[2018-10-30 13:26] aloneguid opened #291 "Question: How to gracefully shutdown?"
In "classic" Service Fabric services receive cancellation token request so they know they have to shutdown gracefully. Provided that all we have now is `static void Main(string[] args)` how would service gracefully shutdown?

[2018-10-30 16:16] jeffj6123 commented on #290
If that is the only purpose the container serves, Azure App Services could potentially be another solution that would be simpler to maintain, https://docs.microsoft.com/en-us/azure/app-service/web-sites-create-web-jobs. Otherwise it sounds like it might be an issue with the container itself

[2018-10-30 19:17] srikanthshaps commented on #290
How do I start the container which contains python flask application in service fabric mesh? Should I need to have any startup script to launch the container?

[2018-11-01 14:56] mjrousos commented on #83
Docs have changed quite a bit in the past six months. I think this is addressed now.

[2018-11-01 14:56] #83 closed

[2018-11-01 18:01] tomkerkhove commented on #245
I was going to give this one a spin but it looks like there is no way to run it inside a cluster already.

Are there plans to provide more guidance on how to run this? This is a great example of the ACI team - https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/azure#deployment-of-the-aci-provider-in-your-cluster

[2018-11-02 15:51] jeffj6123 commented on #290
Mesh will start running the container you specify in the deployment template you send. To make sure the flask application is coming up properly, you could run it locally and verify its behaving as expected.

[2018-11-02 16:37] srikanthshaps commented on #290
I have tested flask locally and it is working fine as expected. When the container is deployed on the mesh, it is not working. I am wondering if I need make any changes to template file which I am using for deployment. Please see the attached template file  and dockerfile and please let me know if there are corrections.
[template.txt](https://github.com/Azure/service-fabric-mesh-preview/files/2543

[2018-11-02 22:36] jeffj6123 commented on #290
Are you seeing any errors when you deploy? If you were to perform az mesh app show for the application you deployed, what does it show?

[2018-11-05 10:03] aloneguid commented on #286
I'm interested in this too. I fully understand that container workloads should be as portable as possible, however it would still be essential to get some context information.

[2018-11-05 17:22] mattrowmsft commented on #286
We will expose these via environment variables eventually (some of the dimensions are already there).  We need to settle on a naming scheme for them (what's there today might change) and get them documented.

There is a separate issue with App Insights on windows right now, if that is the platform you are targeting.  Windows has a bug in hyperv containers where the timezone is adjusted for incorre

[2018-11-05 17:57] tomkerkhove commented on #286
Would you mind elaborating on the early thinking of the naming for these?

[2018-11-06 15:48] tomkerkhove commented on #264
@ChackDan Was 6.4 already released or should I wait a bit longer?

[2018-11-07 16:04] aloneguid commented on #238
How does multiple code packages work in the same service? It's a bit unclear whether they will run two separate containers, or do some magic like Kubernetes pods?

[2018-11-07 22:37] mattrowmsft commented on #238
They act like pods.  FYI this item is to track the VS experience building these, it is already possible to do this if you create your own templates.

[2018-11-10 22:12] codeputer commented on #232
So I found the problem on my machine, but I'm not sure if it's everybody problem - as I'm new to Docker...
the DNS resolution failed on ToDoServiceName entry in the web front end. The value "todoservice" would not resolve to the external IP address of the docker container - which in my case was 192.168.1.64.  I found this by dumping the network of the docker image after it started, and I changed t

[2018-11-15 19:57] CasperJ opened #292 "No internet from within local Service Fabric Mesh Container"
Hi. I tried posting my issue on [Stackoverflow](https://stackoverflow.com/questions/53216434/no-internet-from-within-local-service-fabric-mesh-container), but I didn't get much love there - so now I'm trying here :)

I'm playing around with Service Fabric Mesh on my local PC, but I'm struggling with internet access from within a (Windows) Container.

I'm using the standard web app template from Vi

[2018-11-15 20:05] mattrowmsft commented on #292
Updated my SO tags to watch :-)  Vivek might know what is going on.

[2018-11-17 14:41] tomkerkhove opened #293 "Provide information about runtime version"
This is a bit of a controversial request but sometimes it is being mentioned that feature X is coming with version Y, but how does one see the version of runtime running your app?

Are there plans to display this in portal/via CLI?

Could be something like `az mesh app version --name foo --resource-group bar`.

[2018-11-17 14:44] tomkerkhove commented on #264
Thanks for the update, what is the estimated date for this fix?

The workaround could work but would still be good to have a fix for this as it will not always be a secret nor is passing base64 values ideal.

[2018-11-19 09:45] MikkelHegn commented on #292
There's a set of known limitations with DNS on Windows 10 and Service Fabric: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-debug-windows-containers#known-limitations-when-debugging-containers-in-service-fabric - please check these.

[2018-11-20 23:16] ladeak commented on #103
Do we have a timeframe on when we can expect the serverless actors in preview?

[2018-11-26 12:01] balukantu opened #294 "service-fabric-mesh update"
Hi Team,

We are eager to migrate our application to SF Mesh. I am afraid about the limitations of SF Mesh.

My application is build up on .Net Framework Service Fabric Reliable services which include the following capabilities:

Stateful Services with Reliable collections
Reliable actors
Backup and Restore mechanism
Event Grid Messaging
And many more.

All these components are implemented using.N

[2018-11-27 09:15] balukantu opened #295 "Updates on Service fabric mesh"
Do we have any updates on the below limitations?
	1. Not supported for Service Fabric Reliable actors
	2. Not supported for Reliable Collections
	3. Limitation for the preview
	4. Limitation in Azure Regions

[2018-11-29 22:56] craigsmitham commented on #295
Having .NET actor framework with long term support is important to us. Will mesh provide this, or is Microsoft Orleans the route to go? If so - will there be long-term support guarantees for it? cc @sergeybykov

[2018-12-02 17:01] magnuskarlssonhm commented on #233
Could we have an update on this issue? We are moving to solution design in beginning of January and will not be able to move forward with Service Mesh if the product is not ready to build a POC with.

[2018-12-03 04:10] ConnorChristie commented on #233
I am also interested in any updates on this... Running into the same issue on windows 10

[2018-12-03 07:51] magnuskarlssonhm commented on #233
This error was due to my computers locale being sv-SE so I just changed it. I FIgured it out by changing service.yaml files cpu value from 0.5 to 0,5 and that solved it. Also changed CPU to 1. Now stuck at
[code]

When I run the aplication in Visual studio, what does the IP address in the browser come from? What should it be? I thought it should be localhost but now it is an IP address.

[2018-12-03 07:53] VipulM-MSFT commented on #233
The IP address is the NAT address assigned to the container, `docker inspect` should return you that IP address.

[2018-12-03 10:59] guibirow opened #296 "Network vs Gateway"
Looking through the SF schemas, I've noticed that the **_Microsoft.ServiceFabricMesh/networks_** template has changed from apiVersion **_2018-07-01-preview_** to **_2018-09-01-preview_**

In the apiVersion _2018-07-01-preview_, the network could expose the services via **_'ingressConfig'_** properties, in the _2018-09-01-preview_ we don't see that anymore.

**2018-07-01-preview**

[code]

**2018-0

[2018-12-03 11:05] aloneguid commented on #296
I think gateway resource will be the new one where you can define routing rules, something similar to Azure Application Gateway. It will still need to rely on network resource and will route traffic to it. However, as long as I understand network resource doesn't understand HTTP routing or SSL termination, it's just a virtual network that routes you to SF internal load balancer. In other words gat

[2018-12-03 14:09] kamil-mrzyglod opened #297 "Cannot add new ASP.NET Core service in VS"
Hi,

Today I set up a free Service Fabric Mesh environment on my computer, and while I'm able to create a new Console service, when I try to add a new ASP.NET Core service to my fresh application, I'm getting the following error:

![image](https://user-images.githubusercontent.com/11725731/49378614-58211a00-f70d-11e8-9a8e-d782c26bf926.png)

I'm able to run the local cluster and Mesh application no

[2018-12-03 18:41] guibirow commented on #296
I got the benefits of the gateway resource.

The only thing I didn't understand is if ingress configuration in a network was done by mistake and they are trying to fix that by replacing it with Gateway or they are planning to keep both. Because from the schema, does not have any ingress configuration in the network anymore.

IMHO, I would expect to have a Network and a LoadBalancer resource, and i

[2018-12-03 20:03] mholo65 opened #298 "Not all yaml files are referenced in SfSbzYamlMerge.exe step"
I created a new Mesh solution and added a ASP.NET Core Web Api project using default templates. When trying to debug locally I get the following error upon deploy:
[code]

Looking through the logs I can see that `network.yaml` is not being referenced in the call to `SfSbzYamlMerge.exe`, which will result in an incomplete `json` lacking the reference to my network resource.

Here's the complete bui

[2018-12-03 20:04] mholo65 commented on #298
//cc @BigMorty

[2018-12-04 18:03] robinmanuelthiel commented on #77
I am also facing an issue exposing multiple applications (could be my stupidity as well): What I want to achieve is deploying two services (Web API and Chat Bot) and both expose them on different ports.

When doing that with the following script, only one of the two manages to start. Is that, because they are both exposing the same ports internally? Shouldn't that work?

[code]

[2018-12-04 22:38] rdiazconcha opened #299 "SfSbzYamlMerge.exe disappeared"
After upgrading the ASF Mesh SDK to the latest version (3.3.617.9590) using the Web PI, the SfSbzYamlMerge.exe file was deleted from the C:\Program Files\Microsoft SDKs\Service Fabric\Tools\Mesh\SfSbzYamlMerge folder.  The rest of the files were there, just the .exe was deleted (!?).

I fixed it by uninstalling / reinstalling the SDK.

[2018-12-05 04:43] D3MaxT opened #300 "ASP.NET Core templates are missing from Mesh"
Hello,
I am using:
VS2017 15.9.3
.NET Core SDK 2.2.100
Service Fabric 6.4.617.9590 runtime
Service Fabric SDK 3.3.617.9590
Service Fabric Mesh SDK (Preview) 3.3.617.9590
Docker Desktop Community 2.0.0.0-win81 (29211)

I can create a console SF mesh application and run it without any issues.
However, mesh ASP.NET Core templates seem to be missing. I can create a regular .NET Core web app using 2.2,

[2018-12-05 05:00] D3MaxT commented on #300
Looks like if .NET Core 2.1.500 SDK is installed, then the templates do show up.
Not sure why they don't show up when only the 2.2.100 SDK is installed by itself.

[2018-12-05 08:59] Pothulapati opened #301 "Service Fabric Reliable Disk demo project execution fails"
I tried running the service fabric reliable disk demo as per the [doc](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-deploy-app-sfreliable-disk-volume) , The command took a lot of time to execute and still the provisioning state is shown as running. I tried running it again, in a different resource group. The deployment failed with the following error.

[code

[2018-12-05 10:17] heymega commented on #301
Going off Chacko's tweet earlier, they are still rolling out the changes across resource locations.

https://blogs.msdn.microsoft.com/azureservicefabric/2018/12/04/service-fabric-mesh-preview-refresh-release/

If you run this command it will show which locations have the update.

```Get-AzureRmResourceProvider -ProviderNamespace "Microsoft.ServiceFabricMesh" | ? {$_.ResourceTypes.ResourceTypeName

[2018-12-05 15:17] aloneguid commented on #299
same problem here, thanks for the tip, worked after reinstalling

[2018-12-05 15:41] aloneguid opened #302 "No network access from console application"
The latest preview SDK 3.3.617 has some issues with code trying to get access to external network. For instance simple code:

[code]

will fail from console application when running on a local cluster. The funny thing is it will succeed when running in API app, therefore the issue is not with docker networking as I thought before.
 Does anyone have any pointers?

[2018-12-05 18:23] guibirow opened #303 "The provided location 'westeurope' is not available for resource type 'Microsoft.ServiceFabricMesh/gateways'. List of available regions for the resource type is 'eastasia'."
I tried to deploy the template from [this ](https://github.com/Azure-Samples/service-fabric-mesh/blob/master/templates/counter/counter.sfreliablevolume.linux.json) sample and i've got the following error:

`The provided location 'westeurope' is not available for resource type 'Microsoft.ServiceFabricMesh/gateways'. List of available regions for the resource type is 'eastasia'.`

But the tempalte s

[2018-12-05 18:51] SamirFarhat opened #304 "Rolling ugrades not working as expected"
Hi all,
I deployed a simple Mesh application, with 1 service. There are two replicas.
1- I have changed the replica count on my Template and deployed
Expected Behavior : No downtime
What really happened : A downtime, my site was down

2- I have 2 replicas. I changed the image tag i'm using and deployed my template
Expected behavior : No downtime
What really happened : A downtime, my site was down

[2018-12-05 19:36] BigMorty commented on #302
@aloneguid - Try adding an EXPOSE statement to the first section of your Dockerfile.

[2018-12-05 19:37] guibirow opened #305 "Mesh Resources not visible in azure portal resource group blade, only Applications"
Currently, when Mesh resources are deployed to azure, only Applications are visible in the Resource Group View.

![image](https://user-images.githubusercontent.com/943026/49539171-f86d6f00-f8c4-11e8-963d-f9324b6877ff.png)

But when the Resource Group is pinned to the dashboard, is possible to see the missing resources!

![image](https://user-images.githubusercontent.com/943026/49539206-0ae7a880-f8

[2018-12-05 19:42] aloneguid commented on #302
Expose works, I posted this as workaround on another thread already but that seems like a bug to me?

[2018-12-05 19:53] guibirow opened #306 "resource created in different region is not listed in az mesh CLI"
If I create a mesh resource in a diferent location than the resource group, when I try to list the resources from` az mesh <resourcetype> list --resource-group name` no results are shown.

Steps to reproduce:
Create a resource group named "**mesh**" and Location "**westeurope**"
Deploy the network resource on  "**eastus**" location within the  "**mesh**" resource group

Once deployment complete, r

[2018-12-05 19:54] BigMorty commented on #298
@mholo65 - I assume this is working now that the new SDK and VS tools are released?

[2018-12-05 19:56] mholo65 commented on #298
@BigMorty yes! Thank you! Closing this issue now.

[2018-12-05 19:56] #298 closed

[2018-12-05 19:58] BigMorty commented on #302
Glad that worked, sorry I did not see the other thread, which one was it? The SF team is still looking into the root cause of this.

[2018-12-05 19:58] BigMorty commented on #305
Check the "Show hidden types" checkbox and you will see the Network and Gateway resources as well.

[2018-12-05 19:59] sgreenmsft commented on #297
Hi Kamil,

That's an odd error.  We think the installation of your extension may have gone awry and failed to install one of the file templates.

Could you provide us with the list of files in your Visual Studio Mesh Tools extension directory?  That is, run PowerShell commands like so and give us the resulting output file?

    PS C:\temp> pushd "C:\program files (x86)\Microsoft Visual Studio"

[2018-12-05 20:01] raunakpandya commented on #301
I would suggest just wait for it to roll out in regions.. It should work post that.

[2018-12-05 20:01] guibirow commented on #305
Thanks, very tricky

[2018-12-05 20:02] #305 closed

[2018-12-05 20:03] BigMorty commented on #305
😉

[2018-12-05 20:33] aloneguid commented on #302
I've posted this on Azure advisors originally) found that the only difference between Web and console is expose command, nothing else is happening different, procmon says they fire up identicaly.

[2018-12-05 20:46] BigMorty commented on #302
Gotcha, thanks.

[2018-12-05 21:33] SamirFarhat commented on #303
This is due the last refresh i think. The Gateway resource type is only available in eastasia

[2018-12-05 22:04] linggengmsft commented on #304
Did you leave everything else as is and only changed replica count and image name?
If so, please send us application resource id, region, and time when you issued the upgrade.

[2018-12-05 22:12] SamirFarhat commented on #304
When i said downtime, i meant downtime for 30 seconds, which is something unexpected too. Yes, i have changed nothing except the image tag, or the replica count. Also noticed that the Gateway was taking long time during the deployment, like it was re-deploying.

[2018-12-05 22:15] SamirFarhat commented on #304
ResourceID : /subscriptions/a7321ec3-3919-442b-8a85-3c8580527c41/resourcegroups/test-sfm/providers/Microsoft.ServiceFabricMesh/applications/helloapp

Region: eastasia

Time: between 7 and 8 pm utc+1 (last deployment at 7.43)

[2018-12-05 22:20] jeffj6123 commented on #306
was the deployment for the network successful? Also are you available to view the network within portal?

[2018-12-05 22:30] guibirow commented on #306
Created successfully and visible in the Portal

[2018-12-05 22:53] jeffj6123 commented on #306
can you give the version of the mesh extension are you using? You can check using az extension list

[2018-12-06 00:12] mayoatbm commented on #98
Hey folks,

We are also interested in how auto scaling will work going forward.

Will we be able to achieve behaviors (either out of the box or by manual implementation) similar to Azure Functions autoscale i.e. based on specific sources (e.g. azure queue and service bus queue lengths, event hub message counts etc?  These autoscale + consumption based billing properties are a wonderful combination

[2018-12-06 00:16] BigMorty commented on #300
The VS tools currently don't support Core 2.2, only 2.0 and 2.1. That said, you can expect an update soon that will have 2.2 support.

[2018-12-06 00:23] MickBadran opened #307 "When is SFMesh support coming for VS2019??"
Just upgraded to VS.NET 2019 Preview 1 - trying to get SFMesh to insall....I've got a better chance of seeing Santa.

Just wondering when.

[2018-12-06 01:30] D3MaxT commented on #300
Great. Thank you!

[2018-12-06 02:01] BigMorty commented on #300
You bet! 😊

[2018-12-06 05:42] msfussell commented on #98
We have been looking into how EventGrid could integrate with Service Fabric Mesh as a way of having a resource notify its usage and this scales out the corresponding Mesh service. Nothing concrete to report at this time, but given Mesh is designed for long running services, this is a way to go.

[2018-12-06 10:40] MikkelHegn commented on #307
@BigMorty

[2018-12-06 10:45] aloneguid commented on #98
@msfussell is there any way to control scaling from code in SFM? With full SF I can dynamically create services and scale them from another service (orchestrator service) based on my custom conditions. Is there maybe a REST api coming to do that in Mesh?

[2018-12-06 11:31] SamirFarhat commented on #304
I uploaded a video, please see the behavior.
https://www.youtube.com/watch?v=nSkuuhl89ws

[2018-12-06 11:37] MikkelHegn commented on #291
Your container will receive a SIGTERM, so hooking in to the event .NET raises would be the equivalent.
A few references: https://stackoverflow.com/questions/38291567/killing-gracefully-a-net-core-daemon-running-on-linux and https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.processexit?view=netcore-2.0

[2018-12-06 11:38] guibirow commented on #306
Closing this as I have updated the `az mesh extension` after raised this ticket and tried now to reproduce and is not facing the same errors

Thanks @jeffj6123

[2018-12-06 11:38] #306 closed

[2018-12-06 12:12] kamil-mrzyglod commented on #297
I re-installed the extension - still the same happen :(

The gathered information can be found here:

[code]

[2018-12-06 14:40] tomkerkhove commented on #112
Is there an update on this?

[2018-12-06 14:41] tomkerkhove commented on #111
Closing as no longer applicable

[2018-12-06 14:41] #111 closed

[2018-12-06 14:44] tomkerkhove commented on #100
This has been released and is available here: https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-secrets-overview & https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-manage-secrets

However, I don't see integration with Azure Key Vault yet - I presume this is coming?

[2018-12-06 14:45] tomkerkhove commented on #149
Closing as sample is available here: https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-deploy-app-sfreliable-disk-volume

[2018-12-06 14:45] #149 closed

[2018-12-06 14:47] tomkerkhove commented on #223
This is no longer the case as far as I know.

[2018-12-06 14:47] #223 closed

[2018-12-06 14:47] #236 closed

[2018-12-06 14:47] tomkerkhove commented on #264
I can confirm that this has not been fixed with the refresh. Any ETA for this?

[2018-12-06 16:03] mayoatbm commented on #98
So some orchestrator service in our code would listen to these event grid events at a regular interval and issue scale up/down/out commands (like @aloneguid  described)? That sounds like a good way to go (and maybe similar to what happens in the Scale Controller in Azure Functions). I guess it could depend on which services were well integrated enough into Event Grid to publish their workloads (an

[2018-12-06 16:13] tomkerkhove commented on #98
Frankly, I would only use **Azure Event Grid to emits that a scaling action has been taken** and not use it as a source to make scaling decisions on.

Scaling decisions should be made on **instance metrics** which it provides nowadays, but also based on **arbitrary metrics**. This should initially be Azure Monitor and later provide the capability to bring your own custom metrics from for example P

[2018-12-06 16:15] tomkerkhove commented on #295
Adding @ChackDan 	for this

[2018-12-06 16:17] tomkerkhove commented on #294
Duplicate of  #295, #102, #250 & #252

[2018-12-06 16:52] tomkerkhove commented on #98
@mayoatbm 	That's true and that's where the integration with Azure Monitor comes in. With arbitrary I mean metrics that are not related to the running service itself but externally such as Azure Monitor, Prometheus, etc.

**The minimal scaling options for me personally are:**
- Scale on SFM service (instance) metrics
- Scale on metrics coming from Azure Monitor (and thus implicitly from Applicatio

[2018-12-06 17:49] aloneguid opened #308 "Can gateway http rules be declared in YAML?"
The following definition seems to fail when deploying from VS to local cluster:

[code]

[2018-12-06 17:50] aloneguid commented on #296
the docs seems to be updated now with now it works, I guess this issue can be closed

[2018-12-06 17:55] aljo-microsoft commented on #100
@tomkerkhove
@drago-draganov

Its in the plan, but no additional public details on when.

[2018-12-06 17:57] sgreenmsft commented on #297
Thanks, Kamil.  It looks like all of the right files are present on disk.  I have a couple of additional questions:
- Which Visual Studio version are you using?
- What's the operating system language?
- What's the language setting in Visual Studio?

[2018-12-06 18:19] arturenault commented on #304
Hi Samir, it looks like we have a bug in how we allocate ports for Gateways. I'll fix it and deploy in the next few days.

Thanks!

[2018-12-06 19:33] kamil-mrzyglod commented on #297
Currently, I have VS 2017 15.9.3 running under Windows 10 Enterprise (10.0.14393 Build 14393). The locale is set to 'Poland' while the operating system language is English. English is also set for VS.

I am also able to develop .NET Core applications(including Azure Functions V2 and other frameworks, including Service Fabric services).

Happy to provide any more information if needed.

[2018-12-06 20:00] sgreenmsft commented on #297
Just to confirm my understanding, the steps to reproduce this behavior for you are:
1) Open VS
2) Open File > New Project...
3) Select Cloud > Service Fabric Mesh Application, enter a name for the application, Click OK
4) In the New Service Fabric Service dialog, select ASP.NET Core, enter a Service Name, click OK
5) Observe error "The system cannot find the file specified"

Is that correct?

[2018-12-06 20:55] MikkelHegn commented on #112
@pulkitaggarwl to help comment

[2018-12-06 21:29] BigMorty commented on #307
@MickBadran - A VS2019 Mesh tooling extension is on our backlog!

[2018-12-06 22:19] mayoatbm commented on #98
@tomkerkhove

I just checked out the list of [metrics captured in Azure Monitor](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics) for different services and i think you're right here. There's pretty wide integration with different Azure services and many of  the metrics include clear workload indicators.

Right now, using Azure Monitor would involve s

[2018-12-06 22:48] aloneguid commented on #308
If anyone has this issue, `routes` has to have a `name` property in order for it to work, see https://github.com/MicrosoftDocs/azure-docs/issues/20108

[2018-12-06 23:14] aloneguid commented on #303
Not anymore
![image](https://user-images.githubusercontent.com/3155189/49617505-bb7ca780-f9ac-11e8-9096-fcd17d12563e.png)

[2018-12-06 23:15] guibirow commented on #303
Closing down this issue as the regions has been upgraded with new resources

[2018-12-06 23:15] #303 closed

[2018-12-06 23:21] aloneguid commented on #291
Thank you, tried and works for me.

[2018-12-06 23:21] #291 closed

[2018-12-07 04:19] mattrowmsft commented on #296
@sridmad in case he wants to correct anything I say or add to it.
Gateways were an evolution from where we started.  Just networks wouldn't allow for multiple services to expose the same port for example.  Networks now represent more closely the concept of virtual networks from Microsoft.Networking namespace.  In fact, the next big thing you will see with networks is bring your own VNET, where the

[2018-12-07 04:31] mattrowmsft commented on #293
For most features, this is an artifact of Mesh and SF being developed so closely together that it is hard for us to remember to use the correct nomenclature (ie 6.4 is actually 2018-09-01-preview api version).

There are some features which aren't tied to an api verison.  Container image caching is a recent example.  Where during an interim period, performance of the environments that you are depl

[2018-12-07 08:13] tomkerkhove commented on #98
@mayoatbm 	I think my point was not clear, all the scenarios that I've described are managed by Azure to triggering the scaling and involves no custom logic.

1. **Scale on SFM service (instance) metrics** -> SFM triggers the scaling for you
2. **Scale on metrics coming from Azure Monitor** _(and thus implicitly from Application Insights for business metrics or custom tracking of metrics)_ and con

[2018-12-07 08:33] guibirow commented on #296
My only fear is to expose any service to the internet we will be dependent on this Gateway, in case a the service has any limitation and we want to replace it with a custom made Gateway, this gateway would still be in front of any solution.

From the docs, it says it will be an envoy proxy, for both L4 and L7, L4 makes it more flexible, but can still be a point of failure and a bottleneck in the s

[2018-12-07 10:11] boppbo opened #309 "Deploying to local cluster without admin rights fails with exception"
The VS build task fails trying to connect to the local cluster. I tried the command in powershell to get more information. The same command as User of Group "Administrators" succeeds. The non-elevated account is member of ServiceFabricAdministrators and ServiceFabricAllowedUsers

[code]

[2018-12-07 10:17] heymega opened #310 "vNet with RouteTables"
It looks like Service Fabric Mesh is going down the Service Endpoint Delegation route that Azure Containers Instances (Groups) has went down in order to bring your own vNet.

One of the problems we are currently facing is that you cannot use a Route Table with Service Endpoint Delegation. So when services make requests outbound they don't go through your vNet gateway but instead go through Azures

[2018-12-07 10:21] boppbo commented on #309
Service Fabric 6.4.617.9590
Service Fabric SDK 3.3.617.9590
Service Fabric Mesh SDK 3.3.617.9590

Hadn't had the problem with the previous version of service fabric